<div class="openModal"></div>
<ts-header></ts-header>
<div class="container" class="model-content">
    <div class="section scrollspy" id="work">
        <div class="ts-container">
            <a href="&"><span (click)="goBack()" class="close ha-task-description-close">&times;</span></a>
            <div class="container" id="ts-content">
                <!--Content-->
                <div class="row">
                    <div class="col s12 l4 ts-holiday">
                        <div class="row" class="ts-teacher-info">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="{{teacher.photo}}" width="100px" height="100px">
                            </div>
                            <div class="">
                                <span>{{teacher.firstName}} {{teacher.lastName}}</span>
                                <!--<p *ngIf="teacher.isHoliday">Active</p>-->
                                <!--<p *ngIf="!teacher.isHoliday">in holiday</p>-->
                                <p>{{teacher.mail}}</p>
                            </div>
                        </div>
                        <div class="row" class="ts-teacher-holiday">
                            <div class="row" id="vacation">
                                <p>set vacation time:</p>
                            </div>
                            
                            <div class="row">
                                <p class="ts-guide">from</p>
                                <p> <textarea type="datetime" class="materialize-textarea tsY-date"
                                              (click)="openPicker($event, 'startTime')"></textarea></p>
                            </div>

                            <div class="row ts-quide">
                                <p>to</p>
                                <p> <textarea type="datetime" class="materialize-textarea tsY-date"
                                              (click)="openPicker($event, 'finishTime')"></textarea></p>
                            </div>

                            <div class="row">
                                <button type="submit" class="waves-effect waves-light btn tsY-buttons-holiday"
                                        (click)="onAssignTest()">set
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 l6" class="tests-user-info-for-admin">
                        <h1 class="ts-h1-details">choose tests for marking</h1>
                        <div class="ts-admin-list-tests">
                            <div class="ts-admin-scroll-hidden">
                                <form *ngFor="let test of testsList; let i = index" action="#" class="boxes">
                                    <div *ngIf="i % 2 == 0" class="first-checkbox #eceff1 blue-grey lighten-5">
                                        <p>
                                            <input type="checkbox" id={{test._id}} [(ngModel)]="testsForCheck[i]"/>
                                            <label attr.for="{{test._id}}">Test {{i + 1}}</label>
                                        </p>
                                    </div>
                                    <div *ngIf="i % 2 == 1" class="second-checkbox #fafafa grey lighten-5">
                                        <p>
                                            <input type="checkbox" id={{test._id}} [(ngModel)]="testsForCheck[i]"/>
                                            <label attr.for="{{test._id}}">Test {{i + 1}}</label>
                                        </p>
                                    </div>
                                </form>
                            </div>
                            <button class="waves-effect waves-light btn ts-buttons" type="submit" id="assign-admin-test"
                                    (click)=" postSendTestToTeacherForCheck()" name="action">

                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ts-footer class="modal-footer"></ts-footer>