#ts-content {
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    margin-bottom: 20px;
    padding: 30px 15px;
    margin-top: 20px;
    flex: 1 0 auto;
    width: 100%;
}

/*Content end*/

/*Footer*/
.ts-footer {
    background: url('../img/rx-map.jpg') no-repeat center center fixed;
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    height: 6.5%;
}

.ts-footer p {
    padding: 0.5%;
    font-family: "Trajan-Pro";
    font-size: 1.2em;
    color: #999999;
}

/*Footer end*/

body {
    background: url('../img/font3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    box-sizing: border-box;
}

/* Modal win for home/users */

.modal-footer {
    visibility: hidden;
}

/*.ts-flex{*/
/*height: 85%;*/
/*}*/

.openModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow: hidden;
}

.model-content {
    position: fixed;
    z-index: 2000;
    top: 5%;
    margin-left: 15%;
    width: 70%;
    height: 85%;
}

#work {
    padding-top: 30px;
}

.close {
    position: absolute;
    left: 100%;
    top: 9.5%;
    font-size: x-large;
    color: white;
}

.close:hover {
    color: #999999;
    font-weight: bold;
}

.modal-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Modal win for home/users end */

/*Search bar*/

#ts-search-bar {
    margin-bottom: 0;
    /*height: 100%;*/
}

#ts-search-bar div {
    position: relative;
    float: left;
    color: white;
}

.input-search {
    color: white;
}

#ts-search-bar:hover {
    color: #999999;
}

.ts-li-search {
    height: 100%;
    /*margin: 0px 5px 5px 0px;*/
}

#ts-search-bar {
    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 5px;
    word-wrap: break-word;
    font-family: "Trajan-Pro";
    font-size: 1.5em;
}

input.validate {
    padding-left: 5px;
    font-family: "Trajan Pro";
    margin-top: 30px;
    height: auto;
    font-size: 15px;
    padding-bottom: 2px;
}

.statement input.validate, .translationTask input.validate {
    padding-left: 5px;
    font-family: "Trajan Pro";
    margin-top: 33px;
    margin-left: 15px;
    height: auto;
    font-size: 15px;
    padding-bottom: 2px;
}

.speaking input.validate, .listeningQuestion input.validate {
    padding-left: 5px;
    font-family: "Trajan Pro";
    margin-top: 33px;
    margin-left: 5px;
    height: auto;
    font-size: 15px;
    padding-bottom: 2px;
}

#ts-search-bar:hover {
    color: #999999;
}

.ts-header-conteiner {
    margin-left: 40%;
}

.lg-brand-logo {
    float: left;
    font-family: "Trajan-Pro";
    font-size: 1.5em;
    font-weight: normal;
    color: #999999;
    margin-left: 10%;
}

.assignTestFromStartPage1 .btn {
    font-family: "Trajan Pro";
    background-color: #999999;
    color: white;
}

.forGV {
    position: relative;
    top: 19px;
    position: relative;
    top: 19px;
    left: 170px;
    height: 0%;
    font-size: small;
}

/*Header end*/

/*Charts*/

.user-statistics-chart {
    width: 100%;
    height: 60%;
    /*position: absolute;*/
    left: 30%;
    top: 37%;
}

#loadTest input {
    font-family: "Trajan Pro";
}

.chart-card {
    height: 76%;
    width: 100%;
}

.test-card {
    height: 60%;
    width: 100%;
    margin: 0;
}

div.bubbleChart {
    height: 100%;
}

@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
* {
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
}

/*body {*/
/*background: #1f253d;*/
/*}*/

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1 {
    font-size: 23px;
}

h2 {
    font-size: 17px;
}

p {
    font-size: 15px;
}

a {
    text-decoration: none;
    font-size: 15px;
}

.scnd-font-color {
    color: #9099b7;
}

.titular {
    display: block;
    line-height: 60px;
    margin: 0;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.horizontal-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.horizontal-list li {
    float: left;
}

.block {
    margin: 25px 25px 0 0;
    background: #394264;
    border-radius: 5px;
    float: left;
    width: 300px;
    overflow: hidden;
}

/******************************************** LEFT CONTAINER *****************************************/
.left-container {
}

.menu-box {
    height: 360px;
}

.donut-chart-block {
    overflow: hidden;
}

.donut-chart-block .titular {
    padding: 10px 0;
}

.os-percentages li {
    width: 75px;
    border-left: 1px solid #394264;
    text-align: center;
    background: #50597b;
}

.os {
    margin: 0;
    padding: 10px 0 5px;
    font-size: 15px;
}

.os.ios {
    border-top: 4px solid #e64c65;
}

.os.mac {
    border-top: 4px solid #11a8ab;
}

.os.linux {
    border-top: 4px solid #fcb150;
}

.os.win {
    border-top: 4px solid #4fc4f6;
}

.os-percentage {
    margin: 0;
    padding: 0 0 15px 10px;
    font-size: 25px;
}

.line-chart-block, .bar-chart-block {
    height: 400px;
}

.line-chart {
    height: 200px;
    background: #11a8ab;
}

.time-lenght {
    padding-top: 22px;
    padding-left: 38px;
    overflow: hidden;
}

.time-lenght-btn {
    display: block;
    width: 70px;
    line-height: 32px;
    background: #50597b;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    margin-right: 5px;
    -webkit-transition: background .3s;
    transition: background .3s;
}

.time-lenght-btn:hover {
    text-decoration: none;
    background: #e64c65;
}

.month-data {
    padding-top: 28px;
}

.month-data p {
    display: inline-block;
    margin: 0;
    padding: 0 25px 15px;
    font-size: 16px;
}

.month-data p:last-child {
    padding: 0 25px;
    float: right;
    font-size: 15px;
}

.increment {
    color: #e64c65;
}

/******************************************
↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓
ESTILOS PROPIOS DE LOS GRÄFICOS
↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑
GRAFICO LINEAL
******************************************/

.grafico {
    padding: 2rem 1rem 1rem;
    width: 100%;
    height: 100%;
    position: relative;
    color: #fff;
    font-size: 80%;
}

.grafico span {
    display: block;
    position: absolute;
    bottom: 3rem;
    left: 2rem;
    height: 0;
    border-top: 2px solid;
    transform-origin: left center;
}

.grafico span > span {
    left: 100%;
    bottom: 0;
}

[data-valor='25'] {
    width: 75px;
    transform: rotate(-45deg);
}

[data-valor='8'] {
    width: 24px;
    transform: rotate(65deg);
}

[data-valor='13'] {
    width: 39px;
    transform: rotate(-45deg);
}

[data-valor='5'] {
    width: 15px;
    transform: rotate(50deg);
}

[data-valor='23'] {
    width: 69px;
    transform: rotate(-70deg);
}

[data-valor='12'] {
    width: 36px;
    transform: rotate(75deg);
}

[data-valor='15'] {
    width: 45px;
    transform: rotate(-45deg);
}

[data-valor]:before {
    content: '';
    position: absolute;
    display: block;
    right: -4px;
    bottom: -3px;
    padding: 4px;
    background: #fff;
    border-radius: 50%;
}

[data-valor='23']:after {
    content: '+' attr(data-valor) '%';
    position: absolute;
    right: -2.7rem;
    top: -1.7rem;
    padding: .3rem .5rem;
    background: #50597B;
    border-radius: .5rem;
    transform: rotate(45deg);
}

[class^='eje-'] {
    position: absolute;
    left: 0;
    bottom: 0rem;
    width: 100%;
    padding: 1rem 1rem 0 2rem;
    height: 80%;
}

.eje-x {
    height: 2.5rem;
}

.eje-y li {
    height: 25%;
    border-top: 1px solid #777;
}

[data-ejeY]:before {
    content: attr(data-ejeY);
    display: inline-block;
    width: 2rem;
    text-align: right;
    line-height: 0;
    position: relative;
    left: -2.5rem;
    top: -.5rem;
}

.eje-x li {
    width: 33%;
    float: left;
    text-align: center;
}

/******************************************
GRAFICO CIRCULAR PIE CHART
******************************************/
.donut-chart {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 2rem;
    border-radius: 100%
}

p.center-date {
    background: #394264;
    position: absolute;
    text-align: center;
    font-size: 28px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 130px;
    height: 130px;
    margin: auto;
    border-radius: 50%;
    line-height: 35px;
    padding: 15% 0 0;
}

.center-date span.scnd-font-color {
    line-height: 0;
}

.recorte {
    border-radius: 50%;
    clip: rect(0px, 200px, 200px, 100px);
    height: 100%;
    position: absolute;
    width: 100%;
}

.quesito {
    border-radius: 50%;
    clip: rect(0px, 100px, 200px, 0px);
    height: 100%;
    position: absolute;
    width: 100%;
    font-family: monospace;
    font-size: 1.5rem;
}

#porcion1 {
    transform: rotate(0deg);
}

#porcion1 .quesito {
    background-color: #E64C65;
    transform: rotate(76deg);
}

#porcion2 {
    transform: rotate(76deg);
}

#porcion2 .quesito {
    background-color: #11A8AB;
    transform: rotate(140deg);
}

#porcion3 {
    transform: rotate(215deg);
}

#porcion3 .quesito {
    background-color: #4FC4F6;
    transform: rotate(113deg);
}

#porcionFin {
    transform: rotate(-32deg);
}

#porcionFin .quesito {
    background-color: #FCB150;
    transform: rotate(32deg);
}

.nota-final {
    clear: both;
    color: #4FC4F6;
    font-size: 1rem;
    padding: 2rem 0;
}

.nota-final strong {
    color: #E64C65;
}

.nota-final a {
    color: #FCB150;
    font-size: inherit;
}

/**************************
BAR-CHART
**************************/
/*Content end*/

/*Footer*/

.ts-footer p {
    padding: 0.5%;
    font-family: "Trajan-Pro";
    font-size: 1.2em;
    color: #999999;
}

.bar-chart .eje-y li {
    height: 20%;
    border-top: 1px solid #fff;
}

.bar-chart .eje-x li {
    width: 14%;
    position: relative;
    text-align: left;
}

.bar-chart .eje-x li i {
    transform: rotatez(-45deg) translatex(-1rem);
    transform-origin: 30% 60%;
    display: block;
}

.bar-chart .eje-x li:before {
    content: '';
    position: absolute;
    bottom: 1.9rem;
    width: 70%;
    right: 5%;
    box-shadow: 3px 0 rgba(0, 0, 0, .1), 3px -3px rgba(0, 0, 0, .1);
}

.bar-chart .eje-x li:nth-child(1):before {
    background: #E64C65;
    height: 570%;
}

.bar-chart .eje-x li:nth-child(2):before {
    background: #11A8AB;
    height: 900%;
}

.bar-chart .eje-x li:nth-child(3):before {
    background: #FCB150;
    height: 400%;
}

.bar-chart .eje-x li:nth-child(4):before {
    background: #4FC4F6;
    height: 290%;
}

.bar-chart .eje-x li:nth-child(5):before {
    background: #FFED0D;
    height: 720%;
}

.bar-chart .eje-x li:nth-child(6):before {
    background: #F46FDA;
    height: 820%;
}

.bar-chart .eje-x li:nth-child(7):before {
    background: #15BFCC;
    height: 520%;
}

/*Charts end*/

/*Statistics*/

#ts-statistics-block div {
    display: inline;
}

figure {
    background-color: #eee;
    display: block;
    height: 0;
    margin: 0 auto;
    position: relative;
    font-size: 16px;
    font-size: 1vw;
    width: 40em;
    padding-bottom: 40em;
}

figcaption {
    font-size: 1rem;
    text-align: center;
    color: #fff;
    width: 100%;
    position: absolute;
    left: 0;
    top: 40%;
    z-index: 2;
}

svg {
    display: block;
    height: 100%;
    width: 100%;
    /*position: absolute;*/
    position: relative;
    top: 0;
    left: 15%;
    overflow: visible;
}

circle {
    fill: rgba(0, 0, 0, 0);
    stroke-width: 31.8309886184;
    stroke-dasharray: 0, 0, 0, 100;
    stroke-dashoffset: 25;
    -webkit-animation: pie1 3s infinite ease both;
    animation: pie1 6s infinite ease both;
}

.pie1 {
    stroke: hsl(180, 70%, 30%);
}

.pie2 {
    stroke: hsl(180, 70%, 50%);
    -webkit-animation-name: pie2;
    animation-name: pie2;
}

.pie3 {
    stroke: hsl(180, 70%, 20%);
    -webkit-animation-name: pie3;
    animation-name: pie3;
}

.pie4 {
    stroke: hsl(180, 0%, 70%);
    -webkit-animation-name: pie4;
    animation-name: pie4;
}

.scnd-font-color {
    color: #9099b7;
}

/*Authorization*/

.ts-authorization {
    font-family: "Trajan Pro";
    text-align: center;
    color: #999999;
    position: fixed;
    width: 35%;
    height: 60%;
    left: 32%;
    top: 20%;;
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    z-index: 2000;
    opacity: 0.95;
}

.ts-authorization h1 {
    font-size: 250%;
}

.ts-authorization div {
    width: 100%;
}

.start-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 2000;
}

/*Authorization*/

/*Teacher details*/

.first-checkbox {
    padding: 5px;
}

form {
    margin-bottom: 0;
}

.second-checkbox {
    padding: 5px;
}

.boxes {
    margin: 0;
}

.ts-holiday {
    height: 80%;
}

.ts-admin-list-tests {
    margin: 10px 10px 5px 10px;
    width: 60%;
    height: 100%;
    overflow: hidden;
}

.scroll-hidden {
    width: 50%;
    overflow: auto;
}

.ts-h1-details {
    margin: 0;
    padding-left: 25px;
}

#assign-admin-test {
    left: 32%;
    font-size: 16px;
    width: 153px;
    margin-top: 15px;
    margin-left: 25px;
}

#assign-admin-test5 {
    left: 32%;
    font-size: 16px;
    width: 153px;
    margin-top: 15px;
    margin-left: 70px;
}

.ts-teacher-holiday {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 10%;
}

.tsY-buttons-holiday {
    top: 3px;
    left: 37px;
    font-size: 16px;
    width:146px;
    background: #999999;
}

button:hover {
    background: #999999 !important;
}

.ts-teacher-holiday div {
    margin: 0;
    padding: 0;
}

.ts-teacher-info {
    text-align: center;
    font-weight: bold;
}

/*Teacher details end*/

/*Cards*/

.ts-word-wrap {
    padding: 0;
    word-wrap: break-word;
}

/*Cards end*/

@media screen and (max-width: 992px) {
    .model-content {
        position: relative;
        z-index: 2000;
        top: 7%;
        height: 100%;
    }

    .close {
        left: 90%;
        top: 6%;
    }
}

/*User details*/

.ts-table {
    font-family: Trajan Pro;
    border-collapse: collapse;
    background-color: white;
}

td {
    padding: 0 5px;
    border: 0.5px solid white;
    text-align: center;
}

.ts-th {
    color: #999999;
    font-weight: normal;
    font-size: small;
}

th {
    border: 0.5px solid white;
    background-color: white;
    color: #999999;
    padding: 0 5px;
    text-align: center;
    font-size: larger;
}

.ts-table {
    /*width: 62%;*/
    width: 130%;
    display: table;
    height: 22.5%;
    overflow-y: auto;
    position: relative;
    bottom: 8px;
}

.tests-user-info-for-admin {
    height: 55%;
}

.ts-scroll-hidden {
    width: calc(100% + 30px);
    height: 75%;
    overflow: auto;
}

.ts-admin-scroll-hidden {
    width: calc(100% + 30px);
    height: auto;
    overflow: auto;
}

/*Footer*/

.ts-footer p {
    padding: 0.5%;
    font-family: "Trajan-Pro";
    font-size: 1.2em;
    color: #999999;
}

.tsY-scroll-hidden {
    width: calc(100% + 30px);
    height: 32%;
    overflow-y: auto;
    overflow-x: hidden;
}

.ts-teacher-info img.activator {
    width: 148px;
    height: 157px;
    left: 25%;
}

.card .card-image img.activator1 {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: 15%;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 144px;
    width: auto;
}

.assignTests1 .btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #999999;
    text-align: center;
    font-family: "Trajan Pro";
    width: 151px;
    font-size: 15px;
    letter-spacing: .5px;
    margin-left: 148px !important;
    margin-top: 16px !important;
    transition: .2s ease-out;
    cursor: pointer;
}

.ts-user-tests-tool img {
    width: 8% !important;
    float: right;
    position: relative;
    bottom: 18px;
    border-bottom: 0;
}

/*my-app.selectBackground{*/
/*background: url('img/font1.jpg') no-repeat center center fixed;*/
/*-webkit-background-size: cover;*/
/*-moz-background-size: cover;*/
/*background-size: cover;*/
/*-o-background-size: cover;*/
/*}*/

my-app {
    display: flex;
    flex-direction: column;
}

.ts-user-detail-card {
    width: 84%;
    margin-left: 10px;
}

.ts-tool-text {
    visibility: hidden;
    width: 120px;
    height: 0px;
    font-size: 80%;
    background-color: #999999;
    color: transparent;
    text-align: center;
    border-radius: 4px;
    padding: 1px 0;
    position: absolute;
    top: 10px;
    left: -10px;
    transition: height 0.3s, color 0.3s;
}

.ts-tool-text1 {
    visibility: hidden;
    width: 89px;
    height: 0px;
    font-size: 80%;
    background-color: #999999;
    color: transparent;
    text-align: center;
    border-radius: 4px;
    padding-top: 5px;
    position: absolute;
    z-index: 1000;
    top: 10px;
    left: 160px;
    transition: height 0.3s, color 0.3s;
}

.ts-user-tests-tool {
    border-bottom: 0 !important;
}

.ts-user-tests-tool .textOnMessage {
    width: 50%;
}

.ts-user-tests-tool:hover .ts-tool-text {
    visibility: visible;
    height: 20px;
    color: white;
}

.ts-user-tests-tool:hover .ts-tool-text1 {
    visibility: visible;
    height: 20px;
    color: white;
}

.ts-user-tests-list {
    width: 90%;
    margin-top: 10%;
    overflow: hidden;
}

span {
    margin-left: 0px;
}

.textOnMessage span {
    margin-left: 0;
    font-size: 16px;
}

#ts-myMessage {
    width: 90%;
    height: 10%;
    margin-bottom: 40px;
    margin-left: 10px;
}

/*.scroll-hidden {*/
/*width: calc(100% + 5px);*/
/*overflow: auto;*/
/*}*/

/*User details end*/

/* Styles go here */

.node {
    cursor: pointer;
}

.node:hover {
    stroke: #000;
    stroke-width: 1.5px;
}

.node--leaf {
    fill: white;
}

.label {
    font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
    pointer-events: none;
}

.card .card-content {
    height: 250px;
}

.user-detail-info {
    /*font-family: "Trajan Pro";*/
    color: #999999;
}

/*Admin start page start*/
/*admin page*/
.startPageforAdmin {
    width: 100%;
    /*height: 74%;*/
    position: relative;
}

/*users messages*/

.myMessages {
    width: calc(100% + 15px);
    overflow: auto;
    height: 100%;
    /*position: relative;*/
    float: left;
    margin-top: 0;
    margin-bottom: 0;
}

.home-scroll-hidden {
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.myMessages img.responsive-img, video.responsive-video {
    height: auto;
    width: 50px;
    padding-top: 5px;
    padding-left: 0%;
}

.myMessages .row .col.s2 {
    width: 16%;
    margin-left: 0;
    padding-right: 0%;
}

.scnd-font-color {
    color: #9099b7;
}

.textOnMessaget img.disagree {
    margin-right: 3%;
}

.textOnMessage:hover img {
    visibility: visible;
}

.textOnMessage img:hover {
    opacity: 1.5;
}

.textOnMessage .fa {
    visibility: hidden;
    float: right;
    width: 7%;
    padding-left: 3%;
    margin-top: 2%;
    opacity: 0.5;
}

.textOnMessage:hover .fa {
    visibility: visible;
}

.boldText {
    color: #2196F3;
    font-weight: bold;
    font-family: "Adobe Myungjo Std M";
    font-size: 120%;
}

/*main function for admin*/
.mainFunction {
    width: 45%;
    height: 100%;
    position: relative;
    float: right;
}

/*saerch*/
#searchField .input-field {
    display: block;
    line-height: inherit;
    width: 92%;
    margin-left: 6%;
    position: relative;
}

/*cards with information*/

#sitestatistics .card-panel {
    padding: 0px;
    text-align: center;
    font-size: 100%;
    font-family: "Trajan Pro";
    margin-left: 25%;
    border-radius: 2px;
    background-color: #F5F5F5;
    width: 220%;
    height: 220px;
    opacity: 0.9;
    position: relative;
}

#titleOfStatistics {
    font-size: 130%;
    text-align: center;
    background-color: #A9A9A9;
    padding: 0%;
    padding: 3%;
    color: white;
}

#numberOfUsers, #numberOfTeachers, #testsChecked, #testsCompleted {
    font-weight: bold;
    font-size: 180%;
    font-family: "Trajan Pro";
}

.statisticPart1 {
    width: 50%;
    float: left;
}

.statisticPart2 {
    width: 50%;
    float: right;
}

.statisticCircle {
    position: absolute;
    top: 30%;
    right: 49%;
}

.fildOfStatistics {
    margin: 8%;
}

.tooltip {
    display: inline;
    position: relative;
    border-bottom: 0.5px dotted black;
    z-index: 3000;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 90px;
    height: 0px;
    font-size: 80%;
    background-color: #999999;
    color: transparent;
    text-align: center;
    border-radius: 4px;
    padding-top: 6px;
    position: absolute;
    top: 150%;
    left: 50%;
    right: 40%;
    transition: height 0.3s, color 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    height: 20px;
    color: white;
}

/*Admin start page end*/

/*Test start*/

/*load test start*/
#loadTest {
    width: 100%;
}

#loadTest .btn, .btn-large {
    text-decoration: none;
    /* color: #fff; */
    background-color: #587286;
    text-align: center;
    font-size: 15px;
    font-family: "Trajan Pro";
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
}

.iDontKnow {
    margin-left: 20px !important;
}

/*load test end*/

/*crete test start*/

.navSections #LGT {
    width: 34%;
    text-align: center;
}

.dis {
    margin-right: 10%;
}

#nav.navbar-fixed {
    position: relative;
    height: 56px;
    z-index: 50000;
}

.checkPart {
    background-color: #DCDCDC;
}

.checkTest {
    background-color: #dcdcdc;
}

.adminLogOut1 {
    float: right;
}

.adminLogOut {
    float: right;
    display: inline-block;
}

.adminLogOut:hover {
    background-color: transparent;
    display: block;
    cursor: pointer;
}

.ts-dropdown-content-for-background {
    display: none;
    position: absolute;
    right: 0%;
    z-index: 5000;
    width: 20%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #f9f9f9;
    font-family: "Trajan Pro";
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.ts-dropdown-content-for-background img {
    width: 100%;
}

.adminLogOut:hover .ts-dropdown-content-for-background {
    display: block;
}

.adminLogOut1:hover {
    background-color: transparent;
}

/*create test end*/

/*Test end*/

/*crete test start*/
.navSections li {
    width: 22%;
    text-align: center;
}

.speaking, .listeningText {
    width: 90%;
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    opacity: 0.8;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    height: auto;
    z-index: 5000;
    position: relative;
    background-color: #ffffff;
}

.readingText {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    opacity: 0.8;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0%;
    font-size: 150%;
    height: auto;
    position: relative;
    z-index: 1000;
    background-color: #ffffff;
}

.listeningText .input-field label {
    color: #9e9e9e;
    position: absolute;
    font-size: 1rem;
    font-size: 180%;
    font-family: "Trajan Pro";
    cursor: text;
    width: 96%;
    text-align: center;
}

.readingText textarea.materialize-textarea {
    padding-top: 0rem;
    padding-bottom: 2rem;
    resize: none;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 0%;
    margin-bottom: 0%;
    width: 100%;
}

.listeningText textarea.materialize-textarea {
    padding-top: 0rem;
    padding-bottom: 2rem;
    resize: none;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 0%;
    width: 96%;
}

.blockStatements, .blockTranslation, .headerOfSpeakingText, .blockQuestionsHeader, .blockListeningTest, .blockLGT {
    font-size: 200%;
    text-align: center;
    font-family: "Trajan Pro";
    color: #999999;
}

.readingText .row .col.s12 {
    margin-left: 0;
    margin-top: 2%;
    margin-top: 2%;
}

.ts-authorization h1 {
    font-size: 250%;
}

.listeningText .row .col.s12 {
    margin-left: 0;
    margin-top: 2%;
    margin-top: 2%;
}

.markStatements, .translationTask, .blockOfQuestionsForListeningText, .testTask {
    width: 90%;
    margin-left: 5%;
    margin-top: 0%;
    margin-bottom: 5%;
    opacity: 0.8;
    padding: 3%;
    height: auto;
    position: relative;
    background-color: #ffffff;
}

.LGT {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    opacity: 0.8;
    padding: 3%;
    height: auto;
    background-color: #ffffff;
}

.statement, .translation, .listeningQuestion, .listeningTest, .LGTest {
    height: auto;
    position: relative;
}

.translationTask .row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
}

.testTask .row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
}

.markStatements textarea.materialize-textarea {
    overflow-y: hidden;
    padding: 0rem 0;
    resize: none;
    height: auto;
}

.translationTask .translation textarea.materialize-textarea {
    overflow-y: hidden;
    padding: 0rem 0;
    resize: none;
    height: auto;
    width: 98%;
    margin-bottom: 0%;
}

.testTask .listeningTest textarea.materialize-textarea {
    overflow-y: hidden;
    padding: 0rem 0;
    resize: none;
    height: auto;
    width: 100%;
    margin-bottom: 0%;
    margin-top: 9px;
}

.testTask .LGTest textarea.materialize-textarea {
    overflow-y: hidden;
    padding: 0rem 0;
    resize: none;
    height: auto;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0%;
}

#variantA textarea.materialize-textarea {
    overflow-y: hidden;
    padding: 0rem 0;
    resize: none;
    height: auto;
    width: 90%;
}

#vacation {
    font-family: "Trajan Pro";
    padding-left: 38px;
    padding-bottom: 10;
}

#variantA .row .col.s11 {
    width: 80%;
    margin-left: 0;
    margin-top: 0%;
}

.input-field .statement label {
    color: #9e9e9e;
    position: absolute;
    left: 3%;
    top: 27px;
    font-family: "Trajan Pro";
    cursor: text;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    transition: .2s ease-out;
}

.input-field .translation label {
    color: #9e9e9e;
    position: absolute;
    left: 3%;
    top: 27px;
    font-family: "Trajan Pro";
    cursor: text;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    transition: .2s ease-out;
}

.input-field .listeningTest label {
    color: #9e9e9e;
    position: absolute;
    left: 0%;
    top: 27px;
    font-family: "Trajan Pro";
    cursor: text;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    transition: .2s ease-out;
}

.input-field .listeningQuestion label {
    color: #9e9e9e;
    position: absolute;
    left: 6px;
    top: 27px;
    font-family: "Trajan Pro";
    cursor: text;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    transition: .2s ease-out;
}

#checkBox, #checkBox1, #checkBox2, #checkBox3, #checkBox8, #checkBox9, #checkBox10 {
    font-family: "Trajan Pro";
    margin-top: 2%;
}

#checkBox7 {
    font-family: "Trajan Pro";
    margin-top: 25px;
}

.finishVariant, .answerVariant {
    background-color: #999999;
    text-align: center;
    font-size: 160%;
    font-family: "Trajan Pro";
    color: #ffffff;
    height: auto;
    padding: 1.5%;
    margin-top: 20px;
    width: 40%;
    margin-left: 60%;
}

.translationVariant {
    background-color: #999999;
    text-align: center;
    font-size: 160%;
    font-family: "Trajan Pro";
    color: #ffffff;
    height: auto;
    padding: 1.5%;
    margin-top: 19%;
    width: 38%;
    margin-left: 77%;
}

.buttonAddReadingTest .btn, .btn-large {
    text-align: center;
    font-family: "Trajan Pro";
    font-size: 150%;
    background-color: #999999;
    color: #ffffff;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
    width: 40%;
}

.buttonAddSpeakingTest .btn, .btn-large {
    text-align: center;
    font-family: "Trajan Pro";
    font-size: 150%;
    background-color: #999999;
    color: #ffffff;
    width: 40%;
    margin-left: 27% !important;
    margin-right: 30% !important;
    margin-bottom: 5% !important;
}

.buttonAddListeningTest .btn, .btn-large {
    text-align: center;
    font-family: "Trajan Pro";
    font-size: 150%;
    background-color: #999999;
    color: #ffffff;
    margin-left: 30% !important;
    margin-right: 30% !important;
    margin-bottom: 5% !important;
    width: 40%;
}

.addQuestionForLGT .btn, .btn-large {
    text-align: center;
    font-size: 300%;
    background-color: darkgreen;
    opacity: 0.7;
    color: #ffffff;
    padding-bottom: 7px;
    margin-left: 45% !important;
    margin-right: 25% !important;
    margin-bottom: 5% !important;
}

.addQuestionForReading .btn, .btn-large {
    text-align: center;
    font-size: 300%;
    background-color: darkgreen;
    opacity: 0.7;
    color: #ffffff;
    padding-bottom: 7px;
    margin-left: 45% !important;
    margin-right: 25% !important;
    margin-bottom: 5% !important;
    margin-top: 5% !important;
}

.buttonAddLexicalGrammarTest .btn, .btn-large {
    text-align: center;
    font-family: "Trajan Pro";
    font-size: 150%;
    background-color: #999999;
    color: #ffffff;
    margin-left: 22.5% !important;
    width: 50%;
    margin-bottom: 5% !important;
}

.nameOfStatement {
    font-family: "Trajan Pro";
}

.speaking textarea.materialize-textarea {
    overflow-y: hidden;
    resize: none;
    min-height: 3rem;
    padding: 0%;
    margin-top: 10px;
}

.speaking label {
    font-family: "Trajan Pro";
    color: #999999;
    top: 27px;
    left: 15px;
}

.tsY-dropbtn {
    background-color: green;
    color: white;
    font-family: "Trajan Pro";
    padding: 3px;
    font-size: 16px;
    text-align: center;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 40px;
    margin-top: 0;
}

.ts-filter-panel .tsY-dropbtn {
    background-color: #26a69a;
    opacity: 0.8;
    color: white;
    font-family: "Trajan Pro";
    padding: 3px;
    font-size: 14px;
    text-align: center;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 40px;
    margin-top: 0;
    margin-left: 26%;
}

.ts-filter-panel #tsY-dropdown {
    float: right;
    padding-left: 27%;
}

.ts-filter-panel .tsY-dropbtn:hover {
    opacity: 1;
    background-color: #26a69a !important;
}

.tsY-dropdown-content {
    width: 78%;
    left: 42%;
    display: none;
    position: absolute;
    z-index: 5000;
    background-color: #f9f9f9;
    font-family: "Trajan Pro";
    right: -21%;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

}

.tsY-dropdown-content a {
    color: black;
    padding-left: 8px;
    text-decoration: none;
    display: block;
    width: 100%;
}

.tsY-dropdown-content a:hover {
    background-color: #f1f1f1
}

#tsY-dropdown:hover .tsY-dropdown-content {
    display: block;
}

#tsY-dropbtn:hover {
    background: #999999;
}

.ts-add-guest-form input {
    margin-left: 10px;
    width: 75% !important;
}

#ts-dropdown, #ts-dropdown1 {
    position: relative;
    display: inline-block;
}

#tsY-dropdown {
    width: 100%;
    position: relative;
    display: inline-block;
    /*margin-top: 40%;*/
}

.tsY-dropdown-content label {
    margin-left: 40px;
}

.ts-dropdown-content {
    display: none;
    position: absolute;
    z-index: 5000;
    background-color: #f9f9f9;
    min-width: 60px;
    font-family: "Trajan Pro";
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.ts-dropdown-content label {
    margin-left: 15px;
}

/*input#email.validate {*/
/*width: 70%;*/
/*}*/

.ts-dropdown-content a {
    color: black;
    padding-left: 8px;
    text-decoration: none;
    display: block;
}

.ts-dropdown-content a:hover {
    background-color: #f1f1f1
}

#ts-dropdown:hover .ts-dropdown-content {
    display: block;
}

#ts-dropdown1:hover .ts-dropdown-content {
    display: block;
}

#ts-dropdown2:hover .ts-dropdown-content {
    display: block;
}

/*#ts-dropdown1:hover .ts-dropbtn {*/
/*background-color: #364250;*/
/*}*/

/*#ts-dropdown2:hover .ts-dropbtn {*/
/*background-color: #364250;*/
/*}*/

#btnAddAudio.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #999999;
    text-align: center;
    letter-spacing: .5px;
    font-size: 14px;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
}

.file-path-wrapper input.validate {
    margin-top: 20px;
}

/*Test end*/

a:hover {
    text-decoration: none;
    cursor: pointer;
}

/**/

.bagkround-start-page {
    position: fixed;
    min-width: 100% !important;
    min-height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./img/font3.jpg') no-repeat center center fixed;
}

/**/

/*Maks*/

.assignTestFromStartPage {
    /*width: 0%;*/
    background: #fafafa;
    /*height: 0%;*/
    margin-bottom: 2%;
    opacity: 0;
    display: none;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 2%;
    position: absolute;
}

.assignTestFromStartPage1 {
    /*width: 0%;*/
    background: #fafafa;
    /*height: 0%;*/
    margin-bottom: 2%;
    opacity: 0;
    display: none;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 2%;
    position: absolute;
}

.cross a {
    color: #999999;
    opacity: 0.5;
    padding: 0;
    margin: 0;
    font-size: 130%;
}

.cross {
    text-align: right;
}

.cross a:hover {
    opacity: 1;
}

/*input#email.validate {*/
/*width: 70%;*/
/*}*/

.assignTestFromStartPage.assignTest {
    transition: opacity 2s, width 2s;
    display: block;
    opacity: 1;
    top: 2%;
    width: 88%;
    height: 65%;
    position: absolute;
    z-index: 10000
}

.assignTestFromStartPage1.assignTest {
    transition: opacity 2s, width 2s;
    display: block;
    opacity: 1;
    top: 2%;
    width: 100%;
    height: 65%;
    position: absolute;
    z-index: 10000
}

.assignTestFromStartPage p {
    font-family: "Trajan Pro";
    color: #999999;
    text-align: center;
}

.assignTestFromStartPage1 p {
    font-family: "Trajan Pro";
    color: #999999;
    text-align: center;
}

.assignTests input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 38px;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 10px;
    margin-top: 0px;
    font-family: "Trajan Pro";
    padding: 0;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;
}

.assignTests .btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #999999;
    text-align: center;
    font-family: "Trajan Pro";
    margin-left: 144px !important;
    margin-top: 20px !important;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
}

.animation-user-details {
    position: absolute;
    z-index: 10000;
    width: 300px;
    height: 400px;
    left: 50%;
    top: 20%;
}

.tsY-card-btn {
    top: 10px;
}

#duration {
    margin-left: 110px;
}

#duration1 {
    margin-left: 143px;
}

#duration1 input {
    margin-left: 26px;
}

.ts-animation-user-details {
    display: none;
}

/*Maks*/

/*Filter panel*/

/*Filter panel end*/

.ts-buttons {
    background-color: #999999;
    width: 80%;
}

.ts-buttons1 {
    background-color: #999999;
    width: 171px;
    font-size: 13px;
    margin-left: 137px;
}

.ts-buttons2 {
    background-color: #999999;
    width: 40%;
    font-size: 13px;
    margin-left: 175px;
}

/*Statistic chart*/

/**
 * Variable power
 */
* {
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
}

.chart {
    min-height: 400px;
    border-bottom: 1px solid #eee;
    padding: 1em;
}

.chart--headline, .chart--subHeadline {
    text-align: center;
    font-family: "Trajan Pro";
    color: #999999;
}

.chart--headline {
    position: relative;
    font-weight: 100;
    font-size: 28px;
}

.chart--headline:before {
    position: absolute;
    content: '';
    bottom: 133%;
    left: 50%;
    width: 25%;
    margin: 0 0 0 -12.5%;
}

.ts-authorization h1 {
    font-size: 250%;
}

.chart--subHeadline {
    font-weight: 400;
    font-size: 14px;
}

.charts--container {
    /*background-color: #fff;*/
    width: 100%;
}

/*@media screen and (min-width: 700px) {*/
/*.charts--container {*/
/*max-width: 700px;*/
/*left: 50%;*/
/*top: 10%;*/
/*margin: 5em auto;*/
/*box-shadow: 0 2em 2em #333;*/
/*}*/
/*}*/

.charts--headline {
    text-align: center;
    color: #444;
    background-color: #fff;
    padding: 1em;
}

.start-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 2000;
}

.start-btn {
    position: relative;
    width: 94%;
    background-color: #364250;
    font-size: 20px;
    margin-top: 50px;
}

.start-btn:hover {
    background-color: #697e91;
}

/*Authorization*/

/*Teacher details*/

.first-checkbox {
    padding: 5px;
}

form {
    margin-bottom: 0;
}

.second-checkbox {
    padding: 5px;
}

.boxes {
    margin: 0;
}

.ts-list-tests {
    margin: 10px 10px 5px 10px;
    width: 100%;
    height: 68%;
    overflow: auto;
}

.scroll-hidden {
    width: 50%;
    overflow: hidden;
}

.ts-h1-details {
    margin: 0;
    padding-left: 25px;
}

.ts-guide {
    font-family: "Trajan Pro" !important;
    margin-top: 2px;
    margin-bottom: 0;
}

.ts-teacher-holiday {
    padding-left: 25px;
    padding-right: 25px;
}

.ts-teacher-holiday div {
    margin: 0;
    padding: 0;
}

.ts-teacher-info {
    text-align: center;
    font-weight: bold;
    background-color: white;
    padding-bottom: 12px;
    width: 220px;
    margin-left: 15px;
    margin-bottom: -17px;
}

/*Teacher details end*/

/*Cards*/

.card-reveal span {
    margin-left: 0;
    margin-bottom: 5px;
}

.tsY-card-content {
    padding-top: 0;
    text-align: center;
    height: 140px !important;
}

.tsY-card-content span, h2, p, a {
    margin: 0 !important;
    font-family: "Trajan Pro";
}

/*.tsY-card-content h2{*/
/*margin: 0;*/
/*}*/

/*.tsY-card-content p{*/
/*margin: 0;*/
/*}*/

/*.tsY-card-content a{*/
/*margin: 0;*/
/*}*/

.ts-word-wrap {
    padding: 5px;
    word-wrap: break-word;
}

/*Cards end*/

@media screen and (max-width: 992px) {
    .model-content {
        position: relative;
        z-index: 2000;
        top: 7%;
        height: 100%;
    }

    .tests-user-info-for-admin {
        height: auto;
    }

    .tsY-dropdown-content {
        left: 22%;
    }

    .tsY-dropbtn {
        margin-left: 0 !important;
    }
}

/*User details*/

.tests-user-info-for-admin {
    height: 75%;
}

/*User details end*/
/* Styles go here */
.node {
    cursor: pointer;
}

.node:hover {
    stroke: #000;
    stroke-width: 1.5px;
}

.node--leaf {
    fill: white;
}

.label {
    font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
    pointer-events: none;
}

.card .card-content {
    height: 250px;
}

/*users messages*/

#myMessage .card-panel {
    transition: box-shadow .25s;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 6px;
    margin: 1rem 0 1rem 0;
    border-radius: 2px;
    background-color: #fff;
    width: 435px;
    height: 11%;
    font-family: "Adobe Myungjo Std M";
    font-size: 120%;
    alignment: center;
}

#myMessage1 .card-panel { /*NOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    transition: box-shadow .25s;
    padding: 3px;
    margin: 1rem 0 1rem 0;
    border-radius: 2px;
    background-color: #fff;
    width: 34%;
    height: 8%;
    font-family: "Adobe Myungjo Std M";
    font-size: 120%;
    alignment: center;
    position: absolute;
    top: 19%;
    left: 16%;
}

#myMessage1 * {
    box-sizing: inherit;
    z-index: 1000;
}

#myMessage .row {
    margin-bottom: 0px;
    align-content: center;
    height: 90%;
    padding-right: 5%;
}

#myMessage1 .row { /*NOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    margin-bottom: 0px;
    align-content: center;
    height: 90%;
    padding-right: 5%;
}

#myMessage a {
    color: transparent;
}

.textOnMessage img {
    visibility: hidden;
    float: right;
    width: 3.6%;
    padding-left: 2.5%;
    margin-top: 1%;
    opacity: 0.5;
}

.textOnMessage .fa {
    visibility: hidden;
    float: right;
    width: 7%;
    padding-left: 3%;
    margin-top: 2%;
    opacity: 0.5;
}

.lineChart--area {
    fill: url(#lineChart--gradientBackgroundArea);
}

.lineChart--areaLine {
    fill: none;
    stroke: #6bb7c7;
    stroke-width: 3;
}

.textOnMessage:hover .fa {
    visibility: visible;
}

.textOnMessage img:hover {
    opacity: 1.5;
}

.lineChart--bubble--label {
    fill: none;
    stroke: #6bb7c7;
    font-size: 12.6px;
    font-style: italic;
    font-weight: 100;
}

.lineChart--bubble--value {
    fill: #fff;
    stroke: #fff;
    font-size: 21px;
    font-weight: 100;
}

/*animation start*/

.wrapper2 {
    position: absolute;
    background-color: black;
    width: 70%;
    z-index: 998;
    height: 83%;
    background-color: black;
    opacity: 0.3;
    -webkit-animation-name: example;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
}

@-webkit-keyframes example {
}

.card-panel#bigZ {
    z-index: 999;
}

.checkTestFromStartPage {
    width: 0%;
    background: #fafafa;
    height: 0%;
    margin-top: 3%;
    margin-bottom: 2%;
    opacity: 0;
    visibility: hidden;
    padding: 5%;

}

.checkTestFromStartPage.checkTest {
    transition: width 4s, height 4s, visibility 3s, opasity 3s;
    width: 100%;
    visibility: visible;
    height: 96%;
    opacity: 0.8;
}

.lineChart--circle {
    fill: #6bb7c7;
    stroke: #fff;
    stroke-width: 3;
}

.lineChart--circle__highlighted {
    fill: #fff;
    stroke: #3f95a7;
}

.lineChart--gradientBackgroundArea--top {
    stop-color: #6bb7c7;
    stop-opacity: 0.1;
}

.lineChart--gradientBackgroundArea--bottom {
    stop-color: #6bb7c7;
    stop-opacity: 0.6;
}

.lineChart--svg {
    border: 1px solid #eee;
}

.lineChart--xAxisTicks .domain, .lineChart--xAxis .domain, .lineChart--yAxisTicks .domain {
    display: none;
}

.lineChart--xAxis .tick line {
    display: none;
}

.lineChart--xAxisTicks .tick line, .lineChart--yAxisTicks .tick line {
    fill: none;
    stroke: #b3b3b3;
    stroke-width: 1;
    stroke-dasharray: 2, 2;
}

.pieChart--center--innerCircle {
    fill: #fff;
}

.pieChart--center--text {
    font-size: 28px;
}

.pieChart--center--outerCircle {
    fill: rgba(255, 255, 255, 0.75);
}

.pieChart--detail--divider {
    stroke: gray;
    stroke-width: 1;
}

.pieChart--detail--percentage {
    font-size: 42px;
    font-weight: 100;
    fill: #333;
    stroke-width: 1px;
}

.pieChart--detail--textContainer {
    background-color: transparent;
    padding: 10px 0 0 0;
    margin: 0;
    color: #666;
    font-style: italic;
}

.pieChart--detail__left {
    text-align: left;
}

.pieChart--detail__right {
    text-align: right;
}

.pieChart__blue {
    fill: yellow;
}

.pieChart__green {
    fill: green;
}

.pieChart__pink {
    fill: orange;
}

.pieChart__gray {
    fill: blue;
}

.pieChart__red {
    fill: red;
}

#piechartSVG {
    height: 53%;
}

/**
 * Helper classes
 */
.hidden {
    display: none;
}

.svg-all {
    display: block;
    height: 60%;
    width: 100%;
    /* position: absolute; */
    position: relative;
    top: 0;
    left: 0 !important;
}

/*Statistic chart end*/

.ts-legend {
    margin-left: 20px;
    margin-top: 25px;
}

.ts-red {
    background: red;
}

.ts-r {
    color: red !important;
    opacity: 0.8;
}

.ts-orange {
    background: orange;
}

.ts-o {
    color: orange !important;
    opacity: 0.8;
}

.ts-yellow {
    background: yellow;
}

.ts-y {
    color: #9e9d24 !important;
    opacity: 1.8;
}

.ts-blue {
    background: deepskyblue;
}

.ts-b {
    color: deepskyblue !important;
    opacity: 0.8;;
}

.ts-green {
    background: green;
}

.ts-g {
    color: green !important;
    opacity: 0.8;;
}

.ts-legend div {
    height: 10px;
    width: 10px;
    display: inline-block;
}

.ts-legend span {
    font-size: x-large;
    margin-left: 2%;
    font-family: "Trajan Pro";
    color: #999999;
}

.ts-legend p {
    display: table-cell;
    font-size: small;
    color: #999999;
}

/*555555555555555555555555555555555555555555555555555555*/

/*animation start*/

.contentForAddQuestion {
    height: auto;
}

/*create test end*/

/*Test end*/

/*Test start*/

/*crete test start*/
.navSections li {
    width: 22%;
    text-align: center;
}

nav .nav-wrapper i {
    display: inline;
}

nav .nav-wrapper img {
    width: 110%;
    height: 85%;
    margin-bottom: 10%;
    margin-top: 10%;
    padding-left: -40%;
}

.ts-dropdown-content-for-background a {
    padding: 0;
}

/*create test end*/

.readingText .input-field label {
    color: #9e9e9e;
    position: absolute;
    font-size: 1rem;
    font-size: 100%;
    font-family: "Trajan Pro";
    cursor: text;
    width: 96%;
    text-align: center;
    left: 10px;
}

.reading textarea.materialize-textarea {
    padding-top: 0rem;
    resize: none;
    margin: 2%;
    width: 96%;
}

.reading .row .col.s12 {
    margin-left: 0;
    margin-top: 2%;
    margin-top: 2%;
}

/*Test end*/

.fake {
    position: relative;
    z-index: 15000;
}

.wrapper2 {
    position: absolute;
    background-color: black;
    width: 70%;
    z-index: 998;
    height: 83%;
    background-color: black;
    opacity: 0.3;
    -webkit-animation-name: example;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
}

.test-anim {
    position: absolute;
    height: 200%;
    width: 250%;
    top: 5.5%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.1;
    z-index: 4000;
}

.test-anim1 {
    position: absolute;
    height: 111%;
    top: -4.5%;
    left: -0.5%;
    right: -2.9%;
    bottom: 0;
    background-color: black;
    opacity: 0.1;
    z-index: 4000;
}

.test-anim-home {
    position: absolute;
    height: 112.0%;
    width: 103.4%;
    top: -4.5%;
    left: -0.5%;
    right: 0;
    bottom: -10%;
    background-color: black;
    opacity: 0.1;
    z-index: 4000;
}

.tsY-myMessage {
    position: relative;
    /*z-index: 50000;*/
}

/*.openModal.test-anim {*/
/*z-index: 3000;*/
/*}*/

.tooltip:hover .tooltiptext {
    visibility: visible;
    height: 22px;
    color: white;
}

.tsY-btn-icon {
    color: white;
}

#ts-dropdown {
    position: relative;
    display: inline-block;
}

#ts-dropdown2 .ts-dropbtn {
    margin-top: 20%;
}

#ts-dropdown3 .ts-dropbtn {
    margin-top: 15%;
}

.ts-dropdown-content {
    display: none;
    position: absolute;
    z-index: 5000;
    background-color: #f9f9f9;
    min-width: 60px;
    font-family: "Trajan Pro";
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.ts-dropdown-content a {
    color: black;
    padding-left: 8px;
    text-decoration: none;
    display: block;
}

.ts-dropdown-content a:hover {
    background-color: #f1f1f1
}

/*crete test start*/
.navSections #LGT {
    width: 34%;
    text-align: center;
}

/*create test end*/

input:-webkit-autofill {
    background-color: white !important;
}

/*Test end*/

/*crete test start*/
.navSections li {
    width: 22%;
    text-align: center;
}

.contentForAddQuestion {
    height: auto;
}

.readingText {
    width: 90%;
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    opacity: 0.8;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0%;
    height: auto;
    background-color: #ffffff;
}

.listeningText .input-field label {
    color: #9e9e9e;
    position: absolute;
    font-size: 1rem;
    font-size: 180%;
    font-family: "Trajan Pro";
    cursor: text;
    width: 96%;
    text-align: center;
}

.readingText textarea.materialize-textarea {
    padding-top: 0rem;
    padding-bottom: 2rem;
    resize: none;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 0%;
    margin-bottom: 5%;
    width: 100%;
}

.listeningText textarea.materialize-textarea {
    padding-top: 0rem;
    padding-bottom: 2rem;
    resize: none;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 0%;
    width: 96%;
}

.blockStatements, .blockTranslation, .headerOfSpeakingText, .blockQuestionsHeader, .blockListeningTest, .blockAudio, .blockLGT {
    font-size: 200%;
    text-align: center;
    font-family: "Trajan Pro";
    color: #999999;
}

.blockTranslation .row .col.s5 {
    margin-left: 32%;
}

.blockTranslation label {
    margin-left: 125px;
    text-align: center;
}

.blockTranslation input {
    font-size: 80%;
}

.readingText .row .col.s12 {
    margin-left: 0;
    margin-top: 2%;
    margin-top: 2%;
}

.listeningText .row .col.s12 {
    margin-left: 0;
    margin-top: 2%;
    margin-top: 2%;
}

.markStatements, .translationTask, .blockOfQuestionsForListeningText, .testTask {
    width: 90%;
    margin-left: 2%;
    margin-top: 0%;
    margin-bottom: 5%;
    opacity: 0.8;
    padding: 3%;
    height: auto;
    background-color: #ffffff;
}

.LGT {
    width: 90%;
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    opacity: 0.8;
    margin-right: 2%;
    padding: 3%;
    height: auto;
    background-color: #ffffff;
}

.statement, .translation, .listeningQuestion, .listeningTest, .LGTest {
    height: auto;
    position: relative;
}

.translationTask .row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
}

.testTask .row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
}

.markStatements textarea.materialize-textarea {
    overflow-y: hidden;
    padding: 0rem 0;
    resize: none;
    height: auto;
}

.blockOfQuestionsForListeningText textarea.materialize-textarea {
    overflow-y: hidden;
    padding: 0rem 0;
    resize: none;
    height: auto;
    margin-top: 10px;
    margin-bottom: 0;
}

.translationTask .translation textarea.materialize-textarea {
    overflow-y: hidden;
    padding: 0rem 0;
    resize: none;
    height: auto;
    width: 95%;
    margin-bottom: 0%;
}

.testTask .listeningTest textarea.materialize-textarea {
    overflow-y: hidden;
    padding: 0rem 0;
    resize: none;
    height: auto;
    width: 100%;
    margin-bottom: 0%;
}

.testTask .LGTest textarea.materialize-textarea {
    overflow-y: hidden;
    padding: 0rem 0;
    resize: none;
    height: auto;
    width: 100%;
    margin-bottom: 0%;
}

#variantA textarea.materialize-textarea {
    overflow-y: hidden;
    padding: 0rem 0;
    resize: none;
    height: auto;
    width: 90%;
}

#variantA .row .col.s11 {
    width: 80%;
    margin-left: 0;
    margin-top: 0%;
}

.listeningText input {
    font-family: "Trajan Pro";
}

.input-field .LGTest label {
    color: #9e9e9e;
    position: absolute;
    left: 0%;
    top: 25px;
    font-family: "Trajan Pro";
    cursor: text;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    transition: .2s ease-out;
}

#checkBox, #checkBox1, #checkBox2, #checkBox3, #checkBox7, #checkBox8, #checkBox9 {
    font-family: "Trajan Pro";
}

#numberOfListeningQuestion, #numberOfListeningTestItems {
    background-color: #002848;
    opacity: 0.85;
    text-align: center;
    font-size: 160%;
    font-family: "Trajan Pro";
    color: #ffffff;
    height: auto;
    padding: 1.5%;
    margin-top: 23px;
    width: 100%;
    margin-left: 25%;
}

#numberOfQuestionLGT {
    background-color: #002848;
    text-align: center;
    font-size: 160%;
    font-family: "Trajan Pro";
    color: #ffffff;
    height: auto;
    padding: 1.5%;
    opacity: 0.85;
    margin-top: 23px;
    width: 100%;
    margin-left: 25%;
}

#numberOfStatement, #numberOfQuestion {
    background-color: #002848;
    text-align: center;
    font-size: 160%;
    font-family: "Trajan Pro";
    color: #ffffff;
    height: auto;
    padding: 1.5%;
    margin-top: 50%;
    width: 90%;
    opacity: 0.85;
    margin-left: 51%;
}

.buttonAddReadingTest .btn, .btn-large {
    text-align: center;
    font-family: "Trajan Pro";
    font-size: 150%;
    background-color: #999999;
    color: #ffffff;
    margin-left: 30% !important;
    margin-right: 30% !important;
    margin-bottom: 5% !important;
    width: 40%;
}

.buttonAddListeningTest .btn, .btn-large {
    text-align: center;
    font-family: "Trajan Pro";
    font-size: 150%;
    background-color: #999999;
    color: #ffffff;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}

.test-anim {
    position: absolute;
    height: 110%;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.1;
    z-index: 4000;
}

.nameOfStatement {
    font-family: "Trajan Pro";
}

.openModal.test-anim {
    z-index: 3000;
}

div.assignTestFromStartPage.tsY-user {
    transition: opacity 2s, width 2s;
    display: block;
    opacity: 1;
    height: 70%;
    width: 57%;
    top: 14.5%;
    left: 33%;
    z-index: 5000;
}

div.assignTestFromStartPage1.tsY-user1 {
    transition: opacity 2s, width 2s;
    display: block;
    opacity: 1;
    height: 65%;
    width: 86%;
    top: 1%;
    left: 3%;
    z-index: 5000;
}

.ts-h1-details {
    font-family: "Trajan Pro";
    text-align: center;
}

div.assignTestFromStartPage1.tsY-user {
    transition: opacity 2s, width 2s;
    display: block;
    opacity: 1;
    height: 70%;
    width: 57%;
    top: 14.5%;
    left: 33%;
    z-index: 5000;
}

#numberOfQuestionForSpeaking {
    background-color: #002848;
    text-align: center;
    font-size: 160%;
    font-family: "Trajan Pro";
    color: #ffffff;
    opacity: 0.85;
    height: 5%;
    padding: 1.5%;
    margin-top: 22px;
    width: 100%;
    margin-left: 25%;
}

.ts-dropbtn {
    background-color: #002848;
    color: white;
    font-family: "Trajan Pro";
    padding: 3px;
    font-size: 16px;
    text-align: center;
    border: none;
    cursor: pointer;
    opacity: 0.85;
    width: 60px;
    margin-top: 24px;
}

.ts-dropbtn1 {
    background-color: #002848;
    color: white;
    font-family: "Trajan Pro";
    padding: 3px;
    font-size: 16px;
    text-align: center;
    border: none;
    cursor: pointer;
    opacity: 0.85;
    width: 60px;
    margin-top: -6px;
}

.audioButton.btn {
    background-color: #002848;
    opacity: 0.8;
    font-size: 14px;
    margin-top: 24px;
}

#ts-dropdown, #ts-dropdown1 {
    position: relative;
    display: inline-block;
}

#ts-dropdown2 {
    position: relative;
    display: inline-block;
    margin-top: 40%;
}

.ts-dropdown-content {
    display: none;
    position: absolute;
    z-index: 5000;
    background-color: #f9f9f9;
    min-width: 60px;
    font-family: "Trajan Pro";
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.ts-dropdown-content a {
    color: black;
    padding-left: 8px;
    text-decoration: none;
    display: block;
}

.ts-dropdown-content a:hover {
    background-color: #f1f1f1
}

#ts-dropdown:hover .ts-dropdown-content {
    display: block;
}

#ts-dropdown1:hover .ts-dropdown-content {
    display: block;
}

#ts-dropdown2:hover .ts-dropdown-content {
    display: block;
}

#ts-dropdown:hover .ts-dropbtn {
    background-color: #364250;
}

#ts-dropdown1:hover .ts-dropbtn {
    background-color: #364250;
}

#ts-dropdown2:hover .ts-dropbtn {
    background-color: #364250;
}

#btnAddAudio.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #002852;
    opacity: 0.85;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
}

/*Test end*/

#ts-dropdown:hover .ts-dropdown-content {
    display: block;
}

#ts-dropdown1:hover .ts-dropdown-content {
    display: block;
}

#ts-dropdown2:hover .ts-dropdown-content {
    display: block;
}

#ts-dropdown3:hover .ts-dropdown-content {
    display: block;
}

#ts-dropdown:hover .ts-dropbtn {
    background-color: #364250;
}

#ts-dropdown1:hover .ts-dropbtn {
    background-color: #364250;
}

#ts-dropdown2:hover .ts-dropbtn {
    background-color: #364250;
}

#ts-dropdown2:hover .ts-dropbtn1 {
    background-color: #364250;
}

#ts-dropdown3:hover .ts-dropbtn {
    background-color: #364250;
}

/*Select options*/

/*Buttons*/

.ts-add-btn {
    background-color: #364250;
    color: white;
    height: 55px;
    text-align: center;
}

/*Buttons end*/

/*Spinner*/

.ts-spinner {

    background: url("img/font3.jpg") no-repeat center center fixed;
    opacity: 1;
    padding-left: 35%;
    padding-right: 30%;
    padding-top: 20%;
    padding-bottom: 23%;
}

.textOnSpinner {
    font-family: "Trajan Pro";
    font-weight: bold;
    font-size: 400%;
    color: white;
    opacity: 1;
    -webkit-animation-name: example;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes example {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}

/*Spinner end*/

.tsY-choose-teacher {
    border-top: inherit;
    border-left: inherit;
    border-right: inherit;
    background: inherit;
    width: 50%;
    margin-left: 5%;
}

.tsY-sselect-teacher {
    margin-left: 20%;
    margin-top: 8%;
}

.tsY-scroll-select-user {
    height: auto;
}

.tsY-user-select-teacher-buttons {
    width: 100%;
    margin: 0;
    left: 0 !important;
}

#searchUser {
    margin-left: 1.5%;
    font-family: "Trajan Pro";
    margin-top: 0px;
}

#searchMessages {
    margin-left: 1.5%;
    font-family: "Trajan Pro";
}

#searchTeacher {
    margin-left: 1.5%;
    font-family: "Trajan Pro";
}

#searchUser input {
    padding-left: 5%;
    width: 66%;
}

#searchTeacher input {
    padding-left: 5%;
    width: 59%;
}

#searchMessages input {
    padding-left: 10%;
    width: 90%;
}

#searchUser label {
    margin-left: 7%;
    margin-top: 10px;
}

#searchTeacher label {
    margin-left: 7%;
    margin-top: 11px;
}

#searchMessages label {
    margin-left: 7%;
}

#searchUser i {
    position: absolute;
    top: 23px;
}

#searchTeacher i {
    position: absolute;
    top: 23px;
}

/*body {*/
/*font-family: 'Roboto', sans-serif;*/
/*-webkit-font-smoothing: antialiased;*/
/*}*/

.c-btn {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    display: inline-block;
    line-height: 36px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    min-width: 88px;
    height: 36px;
    margin: 10px 8px;
    padding: 0 8px;
    text-align: center;
    letter-spacing: .5px;
    border-radius: 2px;
    background: #F1F1F1;
    color: #393939;
    transition: background 200ms ease-in-out;
    box-shadow: 0 3.08696px 5.82609px 0 rgba(0, 0, 0, 0.16174), 0 3.65217px 12.91304px 0 rgba(0, 0, 0, 0.12435);
}

.c-btn--flat {
    background: transparent;
    margin: 10px 8px;
    min-width: 52px;
}

.c-btn:hover {
    background: rgba(153, 153, 153, 0.2);
    color: #393939;
}

.c-btn:active {
    box-shadow: 0 9.6087px 10.78261px 0 rgba(0, 0, 0, 0.17217), 0 13.56522px 30.3913px 0 rgba(0, 0, 0, 0.15043);
}

.c-btn--flat, .c-btn--flat:hover, .c-btn--flat:active {
    box-shadow: none;
}

#searchMessages i {
    position: absolute;
    top: 15px;
}

.c-datepicker.assign {
    min-height: 538px;
}

/*Picker*/
.c-datepicker--open {
    z-index: 20000;
    top: 55% !important;
}

.c-datepicker--open.some {
    z-index: 20000;
    top: 374px !important;
}

.c-datepicker.some {
    min-height: 200px;
    left: 68.3%;
    width: 34.5%;
}

.c-datepicker.some .c-datepicker__header-date__day {
    font-size: 42px;
    opacity: 0.6;
}

.c-datepicker.some .c-datepicker__toggle {
    top: 131px;
    width: 23px;
    visibility: hidden;
    opacity: 0.5;
    z-index: 1;
    transition: opacity 200ms ease-in-out;
}

.c-datepicker.some .c-datepicker__header-date {
    background: #00bcd4;
    height: 150px;
    padding: 1px 0;
}

.c-scrim--shown {
    z-index: 10;
}

.tsY-picker-card-title {
    margin: 40px 0 20px;
    font-weight: bolder;
}

.tsY-date {
    width: 80% !important;
    overflow-y: hidden !important;
    padding: 0 !important;
    resize: none !important;
    min-height: 30px !important;
}

.card-reveal p {
    font-weight: bold;
}

/*Picker end*/

.errMessage {
    color: red;
}

.deleteQuestion {
    margin-left: 80%;
    margin-top: 14px;
}

.deleteQuestion1 {
    margin-left: 20%;
    margin-top: 14px;
}

.deleteQuestion2 {
    margin-left: -60%;
    margin-top: 35%;
}

.deleteQuestion a, .deleteQuestion1 a, .deleteQuestion2 a {
    font-size: 200%;
    color: darkred;
    opacity: 0.5;
}

.deleteQuestion a:hover, .deleteQuestion1 a:hover, .deleteQuestion2 a:hover {
    opacity: 1;
}

/*Picker end*/

@media screen and (min-width: 1500px) {
    .ts-user-tests-list {
        margin-top: 10%;
    }
}

.not-found-statistics {
    position: absolute;
    font-family: Trojan Pro;
    font-size: xx-large;
    top: 35%;
    left: 47%;
    z-index: 3000;
    color: #999999;
    height: 30%;
}