<ts-header></ts-header>
<div class="container">

    <div class="section scrollspy" id="work">
        <div class="ts-container">
            <div class="container" id="ts-content">
                <div class="row ts-filter-panel">
                    <div class="row">
                        <div class="input-field col s9 l9" id = "searchTeacher">
                            <i class="material-icons">search</i>
                            <input [(ngModel)]="searchValue" id="icon_prefix" type="text"
                                   class="validate ts-input-panel">
                            <label for="icon_prefix">search</label>
                        </div>
                    </div>
                </div>

                <!--Content-->
                <div class="row">
                    <div class="col s12 m6 l3" *ngFor="let teacher of teachersList | searchByName:searchValue">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="{{teacher.photo}}">
                            </div>
                            <div class="card-content tsY-card-content">
                                <h2 class="card-title activator grey-text text-darken-4">
                                    {{teacher.firstName}} {{teacher.lastName}}</h2>
                                    <p>{{teacher.mail}}</p>
                                    <!--<p>Teacher</p>-->
                                <!--<a href="/"><span (click)="onAssignTest(teacher.id)">Send tests for marking</span></a>-->

                                    <p *ngIf="teacher.role==1">Teacher</p>
                                <a href="/"><span (click)="gotoDetail(teacher._id)">Send tests for marking</span></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ts-footer></ts-footer>


