<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

<ts-header></ts-header>
<div class="container">
    <div class="section scrollspy" id="work">
        <div class="ts-container">
            <div class="container" id="ts-content">
                <div class="row startPageforAdmin">
                    <!--messages-->
                    <div class="col s11 l6">
                        <div class="home-scroll-hidden">
                            <div class="myMessages">
                                <div *ngFor="let message of messages; let i = index"
                                     id="myMessage" class="ts-home-card">
                                    <div class="card-panel grey lighten-5 z-depth-1">
                                        <div class="valign-wrapper">
                                            <img src="img/avatar3.png" class="circle responsive-img">
                                            <div class="textOnMessage">
                                        <span class="black-text">
                                            <span *ngIf="message.type == USER_ASSIGN_TEST">User
                                                <a href="#"><span class="boldText"
                                                                  (click)="goToStatistics(message.userId)">
                                                    {{message.userName}}</span></a>
                                                has requested a test.</span>

                                             <span *ngIf="message.type == USER_PASSED_TEST">User
                                                <a href="#"><span class="boldText"
                                                                  (click)="goToStatistics(message.userId)">
                                                    {{message.userName}}</span></a>
                                                has passed a test.</span>

                                             <span *ngIf="message.type == TEACHER_CHECK_TEST">Teacher
                                                <a href="#"><span class="boldText"
                                                                  (click)="goToStatistics(message.reviewerId)">
                                                    {{message.reviewerName}}</span></a>
                                                has checked a test.</span>

                                            <div class="tooltip">
                                                <a href="#" id="dis">
                                                    <img src="img/disagree.png" (click)="deleteNotification(i)">
                                                </a>
                                                <span class="tooltiptext">Delete message</span>
                                            </div>

                                            <div class="tooltip" *ngIf="message.type != TEACHER_CHECK_TEST">
                                                   <img src="img/statistics.png">
                                            </div>

                                            <div class="tooltip" *ngIf="message.type == TEACHER_CHECK_TEST">
                                                <a href="#">
                                                    <img src="img/statistics.png"
                                                         (click)="goToStatistics(message.userId)">
                                                </a>
                                                <span class="tooltiptext">View statistic</span>
                                            </div>

                                            <div class="tooltip" *ngIf="message.type == USER_ASSIGN_TEST">
                                                <a href="#">
                                                    <img src="img/agree.png"
                                                         (click)="showAnimation($event, message.userId)">
                                                </a>
                                                <span class="tooltiptext">Assign a test</span>
                                            </div>

                                            <div class="tooltip" *ngIf="message.type == USER_PASSED_TEST">
                                                <a href="#">
                                                    <img src="img/agree.png"
                                                         (click)="showAnimation1($event)">
                                                </a>
                                                <span class="tooltiptext">Send for marking</span>
                                            </div>

                                            <div class="tooltip" *ngIf="message.type == TEACHER_CHECK_TEST">
                                                    <img src="img/agree.png">
                                            </div>

                                        </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="my-div"></div>

                            </div>
                        </div>
                    </div>
                    <!--main admins function-->
                    <div class="col s6 m6 l6 mainFunction">
                        <!--search-->
                        <div id="searchMessages">
                            <div class="nav-wrapper">
                                <form>
                                    <div class="input-field">
                                        <i class="material-icons">search</i>
                                        <input [(ngModel)]="searchValue" id="icon_prefix" type="text"
                                               class="validate ts-input-panel">
                                        <label for="icon_prefix">search</label>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!--cards-->
                        <div id="SiteStatistics">
                            <div class="row">
                                <div class="col s6 m5">
                                    <div class="card-panel">
                                        <div id="titleOfStatistics">
                                            site statistics
                                        </div>

                                        <div class="statisticPart1">
                                            <div class="fildOfStatistics">
                                                <div id="numberOfUsers">{{siteStat[0].userCount*10+1}}</div>
                                                users
                                            </div>
                                            <div class="fildOfStatistics">
                                                <div id="testsCompleted">{{siteStat[1].passedTestCount*10+5}}</div>
                                                tests passed
                                            </div>
                                        </div>

                                        <div class="statisticCircle">
                                            ●<br>●<br>●<br>●<br>●<br>●<br>
                                        </div>

                                        <div class="statisticPart2">
                                            <div class="fildOfStatistics">
                                                <div id="numberOfTeachers">{{siteStat[0].teacherCount*10+7}}</div>
                                                teachers
                                            </div>
                                            <div class="fildOfStatistics">
                                                <div id="testsChecked">{{siteStat[1].checkedTestCount*10+9}}</div>
                                                tests checked
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="assignTestFromStartPage">
                            <div class="row">
                                <form (ngSubmit)="onAssignTest(saveUserId)">
                                <div class="cross"><a href="#" (click)="brakeAnimation($event)">✖</a></div>
                                <div class="col s12 m4 m6">
                                    <p>start time</p>
                                    <p> <textarea type="datetime" class="materialize-textarea tsY-date"
                                                  (click)="openPicker($event, 'startTime')"></textarea></p>
                                </div>
                                <div class="col s12 m4 l6">
                                    <p>finish time</p>
                                    <p> <textarea type="datetime" class="materialize-textarea tsY-date"
                                                  (click)="openPicker($event, 'finishTime')"></textarea></p>
                                </div>
                                <div class="col l6" id="duration">
                                    <p>duration</p>
                                    <input type="number" required [(ngModel)]="assignTest.duration" class="tsY-date iDontKnow">
                                </div>
                                <button type="submit" class="btn btn-success btn-block ts-buttons1"
                                        name="action">Assign a test
                                </button>
                                </form>
                            </div>
                        </div>

                        <div class="assignTestFromStartPage1">
                            <div class="row">
                                <div class="cross"><a href="#" (click)="brakeAnimation1($event)">✖</a></div>
                                <div class="col s12 l6" class="tests-user-info-for-admin">
                                    <h1 class="ts-h1-details">choose the teacher to check:</h1>
                                    <div class="ts-admin-list-tests tsY-sselect-teacher">
                                        <div class="ts-admin-scroll-hidden tsY-scroll-select-user">
                                            <form *ngFor="let teacher of teachersList; let i = index" action="#"
                                                  class="boxes">
                                                <div *ngIf="i % 2 == 0"
                                                     class="first-checkbox #eceff1 blue-grey lighten-5">
                                                    <p>
                                                        <input name="{{teacher.name}}" type="radio" id={{teacher.id}}/>
                                                        <label attr.for="{{teacher.id}}">teacher {{i + 1}}</label>
                                                    </p>
                                                </div>
                                                <div *ngIf="i % 2 == 1" class="second-checkbox #fafafa grey lighten-5">
                                                    <p>
                                                        <input name="{{teacher.name}}" type="radio" id={{teacher.id}}/>
                                                        <label attr.for="{{teacher.id}}">teacher {{i + 1}}</label>
                                                    </p>
                                                </div>
                                            </form>
                                        </div>
                                        <button class="waves-effect waves-light btn tsY-user-select-teacher-buttons"
                                                type="submit" id="assign-admin-test5"
                                                name="action" (click)="brakeAnimation1($event)">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ts-footer></ts-footer>