<ts-header></ts-header>

<div class="container">

    <div class="section scrollspy" id="work">
        <div class="ts-container">
            <div class="container" id="ts-content">

                <div class="charts--container">
                    <ul>
                        <li class="row chart">
                            <div id="pieChart" class="col m6 l12">
                                <div class="row">
                                    <h1 class="chart--headline">staff english level</h1>
                                    <div class="col m12 l6">
                                        <svg id="pieChartSVG">
                                            <defs>
                                                <filter id='pieChartInsetShadow'>
                                                    <feOffset dx='0' dy='0'/>
                                                    <feGaussianBlur stdDeviation='3' result='offset-blur'/>
                                                    <feComposite operator='out' in='SourceGraphic' in2='offset-blur'
                                                                 result='inverse'/>
                                                    <feFlood flood-color='black' flood-opacity='1' result='color'/>
                                                    <feComposite operator='in' in='color' in2='inverse'
                                                                 result='shadow'/>
                                                    <feComposite operator='over' in='shadow' in2='SourceGraphic'/>
                                                </filter>
                                            </defs>
                                        </svg>
                                    </div>
                                    <div class="col m12 l6">
                                        <form class="ts-legend">
                                               <div class="ts-red"></div><span>A1(elementary)</span>
                                            <span class="ts-r">12%</span>
                                            <p>Can communicate simply and understand in familiar situations
                                                but only with some difficulty</p>
                                                <div class="ts-orange"></div><span>A2 (pre-intermediate)</span>
                                            <span class="ts-o">22%</span>
                                            <p>Can speak and understand reasonably well and can use basic tenses but have
                                                problems with more complex grammar and vocabulary</p>
                                                <div class="ts-yellow"></div><span>B1(intermediate)</span>
                                            <span class="ts-y">38%</span>
                                            <p>Can speak and understand well but still make mistakes
                                                and fail to make myself understood occasionally.</p>
                                                <div class="ts-blue"></div><span>B2(upper – intermediate)</span>
                                            <span class="ts-b">20%</span>
                                            <p>Speak and understand very well but sometimes have
                                                problems with unfamiliar situations and vocabulary.</p>
                                                <div class="ts-green"></div><span>C1(advanced)</span>
                                            <span class="ts-g">8%</span>
                                            <p>Speak and understand English completely fluently</p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="row chart">
                            <div id="pieChart" class="col m6 l12">
                                <h1 class="chart--headline">staff progress</h1>
                                <div id="lineChart">
                                    <svg id="lineChartSVG" class="lineChart--svg">
                                        <defs>
                                            <linearGradient id="lineChart--gradientBackgroundArea" x1="0" x2="0" y1="0"
                                                            y2="1">
                                                <stop class="lineChart--gradientBackgroundArea--top" offset="0%"/>
                                                <stop class="lineChart--gradientBackgroundArea--bottom" offset="100%"/>
                                            </linearGradient>
                                        </defs>
                                    </svg>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<ts-footer></ts-footer>