<div class="bagkround-start-page"></div>
<div class="row" class="ts-authorization">
    <form #user="ngForm" (ngSubmit)="onSubmit(user.value)" class="col s12">
        <h1>AUSTENLANG</h1>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate" ngControl="email">
                <label for="email">email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate" ngControl="password">
                <label for="password">password</label>
            </div>
        </div>
        <p class="errMessage">{{errMessage}}</p>
        <button class="btn waves-effect waves-light start-btn" type="submit" name="action">Log in</button>
    </form>

</div>

<!--<ts-footer class="start-footer"></ts-footer>-->
