<!-- Navigation -->
<div class="navbar-fixed" id="nav">
    <nav id="nav_f" role="navigation">
        <div class="lg-brand-logo"><a [routerLink]="['/home']" id="logo-container" class="brand-logo">AustenLang</a>
            <p class="forGV">powered by Exadel</p>
        </div>
        <div class="container" class="ts-header-conteiner">
            <div class="nav-wrapper">
                <ul class="hide-on-med-and-down">
                    <li><a [routerLink]="['/users']" [routerLinkActive]="['checkPart']">Users</a></li>
                    <li><a [routerLink]="['/teachers']" [routerLinkActive]="['checkPart']">Teachers</a></li>
                    <li><a [routerLink]="['/test']" [routerLinkActive]="['checkPart']">Add question</a></li>
                    <li><a [routerLink]="['/statistics']" [routerLinkActive]="['checkPart']">Statistics</a></li>
                    <li class="adminLogOut1">
                        <a href="#" (click)="logout()"><i class=" material-icons">power_settings_new</i></a>
                    </li>
                    <li class="adminLogOut">
                        <i class="material-icons">view_module</i>
                        <div class="ts-dropdown-content-for-background row">
                            <a href="" *ngFor='let background of backgroundList' class="col l6"
                               (click)="selectBackground(background)">
                                <img src="{{background}}">
                            </a>
                        </div>
                    </li>

                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li><a [routerLink]="['/users']">Users</a></li>
                    <li><a [routerLink]="['/teachers']">Teachers</a></li>
                    <li><a [routerLink]="['/statistics']">Statistics</a></li>
                    <li><a [routerLink]="['/test']">Add question</a></li>
                </ul>
                <a href="#" (click)="preventDefault()" data-activates="nav-mobile" class="button-collapse"><i
                        class="material-icons">reorder</i></a>
            </div>
        </div>
    </nav>
</div>