<ts-header></ts-header>

<div class="container">

    <div class="section scrollspy" id="work">
        <div class="ts-container">
            <div class="container" id="ts-content">
                <div id="loadTest">
                    <form action="#">
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>File</span>
                                <input type="file" multiple>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="upload file">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="addQuestion">
                    <nav>
                        <div class="nav-wrapper">
                            <ul class="navSections">
                                <li id="LGT"><a id="L-GT" [ngClass]="{checkPart: s==1}" (click)="section(1)">Lexical-Grammar
                                    Test</a></li>
                                <li><a id="reading" [ngClass]="{checkPart:s==2}" (click)="section(2)">Reading</a></li>
                                <li><a id="listening" [ngClass]="{checkPart:s==3}" (click)="section(3)">Listening</a>
                                </li>
                                <li><a id="speaking" [ngClass]="{checkPart:s==4}" (click)="section(4)">Speaking</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>

                <div class="contentForAddQuestion">

                    <div *ngIf="s==1" class="Lexical_Grammar_Test">

                        <div class="LGT">
                            <div class="blockLGT">
                                lexical-grammar test
                            </div>

                            <form class="testTask">
                                <div *ngFor="let question of addLGT; let i = index">
                                    <div class="row">
                                        <form>
                                            <div class="row">
                                                <div class="input-field col s1 l1">
                                                    <div id="numberOfQuestionLGT">
                                                        {{i+1}}
                                                    </div>
                                                </div>

                                                <div class="input-field col s9 l9">
                                                    <div class="LGTest">
                                                    <input attr.id="questionText" class="validate" type="text"
                                                              [(ngModel)]="addLGT[i].description">

                                                        <label attr.for="questionText">task</label>
                                                    </div>
                                                </div>

                                                <div class="input-field col s1 l1">
                                                    <div id="ts-dropdown1">
                                                        <button class="ts-dropbtn">{{addLGT[i].level}}</button>
                                                        <div class="ts-dropdown-content">
                                                            <a href="" *ngFor='let levelQuestion of levelList'
                                                               (click)="selectLevelForLexicalGrammarTest(levelQuestion, i)">
                                                                {{levelQuestion}}</a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="input-field col s1 l1">
                                                    <div class="deleteQuestion"><a
                                                            (click)="deleteQuestion(addLGT, i)">✖</a></div>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                    <div class="row" *ngFor="let variant of variantOfAnswer; let j = index">
                                        <form>
                                            <div class="row">
                                                <div class="input-field col s2 l2">
                                                    <div class="answerVariant">
                                                        {{variant}}
                                                    </div>
                                                </div>

                                                <div class="input-field col s8 l8">
                                                    <div class="LGTest">
                                                    <input attr.id="finish" class="validate" type="text"
                                                              [(ngModel)]="addLGT[i].answersId[j].text">
                                                        <label attr.for="finish">answer</label>
                                                    </div>
                                                </div>

                                                <div class="input-field col s1 l2" id="checkBox7">
                                                    <p>
                                                        <input [(ngModel)]="addLGT[i].answersId[j].isCorrect"
                                                               type="checkbox" attr.id="right{{i*18+j}}"/>
                                                        <label attr.for="right{{i*18+j}}">correct</label>
                                                    </p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </form>

                            <div class="addQuestionForLGT">
                                <a class="waves-effect waves-light btn" (click)="addQuestionForLGT()">+</a>
                            </div>
                        </div>
                        <div class="buttonAddLexicalGrammarTest">
                            <a href="#/home" class="waves-effect waves-light btn" type="submit"
                               (click)="postQuestionLGT ()">
                                add lexical-grammar
                                test</a>
                        </div>
                    </div>

                    <div *ngIf="s==2" class="reading">
                        <div class="readingText">
                            <div class="row">
                                <form class="col s12">
                                    <div class="row">
                                        <div class="input-field col s10">
                                            <textarea id="textarea1" class="materialize-textarea"
                                                      [(ngModel)]="addReading.text.description"></textarea>
                                            <label for="textarea1">add text for reading</label>
                                        </div>
                                        <div class="input-field col s2">
                                            <div id="ts-dropdown2">
                                                <button class="ts-dropbtn">{{addReading.text.level}}</button>
                                                <div class="ts-dropdown-content">
                                                    <a href="" *ngFor='let levelQuestion of levelList'
                                                       (click)="selectLevelForReading(levelQuestion)">{{levelQuestion}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="markStatements">
                            <div class="row blockTranslation">
                                <form class="col s12">
                                    <div class="row">
                                        <div class="input-field col s5">
                                            <input id="firstTask" type="text" class="validate"
                                                   [(ngModel)]="addReading.statementTask.title">
                                            <label for="firstTask">task title</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="row">
                                <form *ngFor="let item of addReading.statementTask.questions; let i = index">
                                    <div class="row">

                                        <div class="input-field col s1 l1">
                                            <div id="numberOfStatement">
                                                {{i+1}}
                                            </div>
                                        </div>

                                        <div class="input-field col s9 l8">
                                            <div class="statement">
                                                <input attr.id="statementText"
                                                          class="validate" type="text"
                                                          [(ngModel)]="addReading.statementTask.questions[i].description">
                                                <label attr.for="statementText">statement</label>
                                            </div>
                                        </div>

                                        <div class="input-field col s3 l2" id="checkBox">
                                            <p>
                                                <input name="group1" type="radio" id="test1{{i+1}}"
                                                       (click)="selectTextForStatementTaskQuestion(i)"
                                                       [(ngModel)]="addReading.statementTask.questions[i].answersId[0].isCorrect"/>
                                                <label attr.for="test1{{i+1}}">true</label>
                                            </p>
                                            <p>
                                                <input name="group1" type="radio" id="test2{{i+1}}"
                                                       (click)="selectTextForStatementTaskQuestion(i)"
                                                       [(ngModel)]="addReading.statementTask.questions[i].answersId[1].isCorrect"/>
                                                <label attr.for="test2{{i+1}}">false</label>
                                            </p>
                                        </div>

                                        <div class="input-field col s1 l1">
                                            <div class="deleteQuestion2"><a
                                                    (click)="deleteQuestion(addReading.statementTask.questions, i)">✖</a>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                                <div class="addQuestionForReading" *ngIf="addReading.statementTask.questions.length <5">
                                    <a class="waves-effect waves-light btn" (click)="addStatementForReading()">+</a>
                                </div>
                            </div>
                        </div>

                        <div class="translationTask">
                            <div class="row blockTranslation">
                                <form class="col s12">
                                    <div class="row">
                                        <div class="input-field col s5">
                                            <input id="last_name" type="text" class="validate"
                                                   [(ngModel)]="addReading.translationTask.title">
                                            <label for="last_name">task title</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div *ngFor="let item of addReading.translationTask.questions; let i = index">
                                <div *ngIf="i!=5">
                                    <div class="row">
                                        <form>
                                            <div class="row">

                                                <div class="input-field col s1 l1">
                                                    <div id="numberOfQuestion">
                                                        {{i+1}}
                                                    </div>
                                                </div>

                                                <div class="input-field col s11 l10">
                                                    <div class="translation">
                                                    <input attr.id="translationText"
                                                              class="validate" type="text"
                                                              [(ngModel)]="addReading.translationTask.questions[i].description">
                                                        <label attr.for="translationText">text for
                                                            task</label>
                                                    </div>
                                                </div>

                                                <div class="input-field col s1 l1">
                                                    <div class="deleteQuestion1"><a
                                                            (click)="deleteQuestion(addReading.translationTask.questions, i)">✖</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                    <div class="row" *ngFor="let variant of variantOfAnswer; let y=index">
                                        <form>
                                            <div class="row">

                                                <div class="input-field col s2 l2">
                                                    <div class="translationVariant">
                                                        {{variant}}
                                                    </div>
                                                </div>

                                                <div class="input-field col s7 l8">
                                                    <div class="translation">
                                                    <input attr.id="translationText"
                                                              class="validate" type="text"
                                                              [(ngModel)]="addReading.translationTask.questions[i].answersId[y].text">
                                                        <label attr.for="translationText">variant of answer
                                                        </label>
                                                    </div>
                                                </div>


                                                <div class="input-field col s1 l2" id="checkBox">
                                                    <p>
                                                        <input type="checkbox" attr.id="right{{y*10+i}}"
                                                               [(ngModel)]="addReading.translationTask.questions[i].answersId[y].isCorrect"/>
                                                        <label attr.for="right{{y*10+i}}">correct</label>
                                                    </p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="addQuestionForReading" *ngIf="addReading.translationTask.questions.length<5">
                                <a class="waves-effect waves-light btn" (click)="addQuestionForReading()">+</a>
                            </div>
                        </div>

                        <div class="buttonAddReadingTest">
                            <a class="waves-effect waves-light btn" (click)="postQuestionReading()">add
                                reading test</a>
                        </div>
                    </div>

                    <div *ngIf="s==3" class="listening">
                        <div class="listeningText">
                            <div class=" input-field col s10 blockAudio">
                                add audio
                            </div>


                            <div class="row">
                                <form action="#">
                                    <div class="row">
                                        <div class="file-field input-field col l9">
                                            <div class="btn" id="btnAddAudio">
                                                <span>audio</span>
                                                <input type="file" ng2FileSelect [uploader]="uploader">
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input class="file-path validate" type="text"
                                                       placeholder="upload one audio file">
                                            </div>
                                        </div>
                                        <button type="button" class="audioButton btn col l2" (click)="uploadFile()">send
                                            audio
                                        </button>

                                        <div class="input-field col l1">
                                            <div id="ts-dropdown2">
                                                <button class="ts-dropbtn1">{{addListening.level}}</button>
                                                <div class="ts-dropdown-content">
                                                    <a href="" *ngFor='let levelQuestion of levelList'
                                                       (click)="selectLevelForListening(levelQuestion)">{{levelQuestion}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div>

                            </div>
                        </div>

                        <div class="blockOfQuestionsForListeningText">
                            <div class="row blockTranslation">
                                <form class="col s12">
                                    <div class="row">
                                        <div class="input-field col s5">
                                            <input id="firstTask" type="text" class="validate"
                                                   [(ngModel)]="addListening.questionTask.title">
                                            <label for="firstTask">task title</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="row">
                                <form *ngFor="let item of addListening.questionTask.questions; let i = index">
                                    <div class="row">

                                        <div class="input-field col s1 l1">
                                            <div id="numberOfListeningQuestion">
                                                {{i+1}}
                                            </div>
                                        </div>

                                        <div class="input-field col s9 l10">
                                            <div class="listeningQuestion">
                                                <input attr.id="questionText"
                                                          class="validate" type="text"
                                                          [(ngModel)]="addListening.questionTask.questions[i].description">
                                                <label attr.for="questionText">question</label>
                                            </div>
                                        </div>
                                        <div class="input-field col s1 l1">
                                            <div class="deleteQuestion1"><a
                                                    (click)="deleteQuestion(addListening.questionTask.questions, i)">✖</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="addQuestionForReading" *ngIf="addListening.questionTask.questions.length<5">
                                    <a class="waves-effect waves-light btn" (click)="addQuestionForListening()">+</a>
                                </div>
                            </div>

                        </div>

                        <div class="testTask">
                            <div class="row blockTranslation">
                                <form class="col s12">
                                    <div class="row">
                                        <div class="input-field col s5">
                                            <input id="firstTask" type="text" class="validate"
                                                   [(ngModel)]="addListening.completeTheSentencesTask.title">
                                            <label for="firstTask">task title</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div *ngFor="let item of addListening.completeTheSentencesTask.questions; let i = index">
                                <div *ngIf="i!=5">
                                    <div class="row">
                                        <form>
                                            <div class="row">
                                                <div class="input-field col s1 l1">
                                                    <div id="numberOfListeningTestItems">
                                                        {{i+1}}
                                                    </div>
                                                </div>

                                                <div class="input-field col s10 l10">
                                                    <div class="listeningTest">
                                                    <input attr.id="translationText"
                                                              class="validate" type="text"
                                                              [(ngModel)]="addListening.completeTheSentencesTask.questions[i].description">
                                                        <label attr.for="translationText">sentence</label>
                                                    </div>
                                                </div>

                                                <div class="input-field col s1 l1">
                                                    <div class="deleteQuestion1"><a
                                                            (click)="deleteQuestion(addListening.completeTheSentencesTask.questions, i)">✖</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                    <div class="row" *ngFor="let variant of variantOfAnswer; let y=index">
                                        <form>
                                            <div class="row">

                                                <div class="input-field col s2 l2">
                                                    <div class="finishVariant">
                                                        {{variant}}
                                                    </div>
                                                </div>

                                                <div class="input-field col s8 l8">
                                                    <div class="listeningTest">
                                                    <input attr.id="finish"
                                                              class="validate" type="text"
                                                              [(ngModel)]="addListening.completeTheSentencesTask.questions[i].answersId[y].text">
                                                        <label attr.for="finish">answer</label>
                                                    </div>
                                                </div>

                                                <div class="input-field col s1 l2" id="checkBox1">
                                                    <p>
                                                        <input type="checkbox" attr.id="right{{y*100+i}}"
                                                               [(ngModel)]="addListening.completeTheSentencesTask.questions[i].answersId[y].isCorrect"/>
                                                        <label attr.for="right{{y*100+i}}">correct</label>
                                                    </p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="addQuestionForReading"
                                 *ngIf="addListening.completeTheSentencesTask.questions.length<5">
                                <a class="waves-effect waves-light btn" (click)="addTaskQuestionForListening()">+</a>
                            </div>
                        </div>

                        <div class="buttonAddListeningTest">
                            <a href="#/home" class="waves-effect waves-light btn" (click)="postQuestionListening()">add
                                listening test</a>
                        </div>
                    </div>

                    <div *ngIf="s==4">
                        <div class="speaking">
                            <div class="headerOfSpeakingText">
                                speaking questions
                            </div>
                            <div class="row">
                                <form *ngFor="let question of addSpeaking; let i = index;">
                                    <div class="row">

                                        <div class="input-field col s1 l1">
                                            <div id="numberOfQuestionForSpeaking">
                                                {{i+1}}
                                            </div>
                                        </div>

                                        <div class="input-field col s9 l9">
                                            <div>
                                                <input attr.id="questionText"
                                                          class="validate" type="text"
                                                          [(ngModel)]="addSpeaking[i].description">
                                                <label attr.for="questionText">question</label>
                                            </div>
                                        </div>

                                        <div class="input-field col s2 l1">
                                            <div id="ts-dropdown">
                                                <button class="ts-dropbtn">{{addSpeaking[i].level}}</button>
                                                <div class="ts-dropdown-content">
                                                    <a href="" *ngFor='let levelQuestion of levelList'
                                                       (click)="selectLevelForSpeaking(levelQuestion, i)">{{levelQuestion}}</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="input-field col s1 l1">
                                            <div class="deleteQuestion1"><a
                                                    (click)="deleteQuestion(addSpeaking, i)">✖</a></div>
                                        </div>

                                    </div>
                                </form>
                                <div class="addQuestionForLGT">
                                    <a class="waves-effect waves-light btn" (click)="addQuestionForSpeaking()">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="buttonAddSpeakingTest">
                            <a href="#/home" class="waves-effect waves-light btn"
                               type="submit" (click)="postQuestionSpeaking()">add speaking test</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<ts-footer></ts-footer>