<div class="openModal"></div>
<ts-header></ts-header>

<div class="container" class="model-content">
    <div class="section scrollspy" id="work">
        <div class="ts-container">
            <a [routerLink]="['/users']"><span class="close ha-task-description-close">&times;</span></a>
            <div class="container" id="ts-content">
                <!--Content-->
                <div class="row ts-flex">
                    <div class="ts-user-select">
                        <div class="col s12 l4">
                            <div class="card ts-user-detail-card">
                                <div class="card-content">
                                    <div class="row" class="ts-teacher-info">
                                        <div class="card-image waves-effect waves-block waves-light">
                                            <img class="activator1" src="{{user.photo}}" width="100px" height="100px">
                                        </div>
                                        <div class="user-detail-info">
                                            <span>{{user.firstName}} {{user.lastName}}</span>
                                            <p>{{user.mail}}</p>
                                        </div>
                                        <button class="waves-effect waves-light btn tsY-card-btn"
                                                (click)="showAnimation($event, 'tsY-card-btn')">Assign a test
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="testsList.length > 0">
                                <div class="ts-user-tests-list">
                                    <div class="tsY-scroll-hidden">
                                        <div *ngFor="let test of testsList; let i = index" (click)="section(i)"
                                             class="col s12 m8 offset-m2 l6 offset-l3 tsY-myMessage" id="ts-myMessage">
                                            <div class="card-panel z-depth-1" [ngClass]="{checkTest: s==i}">
                                                <div class="textOnMessage">
                                                    <a href="#"
                                                       (click)="onSelectTest(i)"><span>Test {{i + 1}}</span></a>
                                                </div>
                                                <div class="tooltip ts-user-tests-tool"
                                                     *ngIf="test.isChecked">
                                                    <img src="img/agree.png">
                                                    <span class="ts-tool-text1">Checked test</span>
                                                </div>
                                                <div class="tooltip ts-user-tests-tool test-anim-div"
                                                     *ngIf="!test.isChecked">
                                                    <a href="#" class="unchecked"
                                                       (click)="showAnimation1($event, 'unchecked')">
                                                        <img src="img/12345.png">
                                                    </a>
                                                    <span class="ts-tool-text1">Unchecked test</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="my-div"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 l6" *ngIf="testsList.length > 0">

                        <div class="row user-statistics-chart">
                            <div class="bubbleChart"></div>
                        </div>

                        <table class="row centered striped responsive-table ts-table">
                            <thead>
                            <tr>
                                <th>Part</th>
                                <th colspan="10">Answers</th>
                                <th>Mark</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="ts-th">LGT</td>
                                <td *ngFor="let item of test.part1"><span *ngIf="item">+</span>
                                    <span *ngIf="!item">-</span></td>
                                <td>{{test.marks[0]}}</td>
                            </tr>
                            <tr>
                                <td class="ts-th">Listening</td>
                                <td *ngFor="let item of test.part2"><span *ngIf="item">+</span>
                                    <span *ngIf="!item">-</span></td>
                                <td>{{test.marks[1]}}</td>
                            </tr>
                            <tr>
                                <td class="ts-th">Reading</td>
                                <td *ngFor="let item of test.part3"><span *ngIf="item">+</span>
                                    <span *ngIf="!item">-</span></td>
                                <td>{{test.marks[2]}}</td>
                            </tr>
                            <tr>
                                <td class="ts-th">Speaking</td>
                                <td *ngFor="let item of test.part4"><span *ngIf="item == 0"></span>
                                    <span *ngIf="item">+</span>
                                    <span *ngIf="!item == undefined">-</span></td>
                                <td>{{test.marks[3]}}</td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="assignTestFromStartPage">
                            <div class="row">
                                <div class="cross"><a href="#" (click)="showAnimation($event, 'row')">✖</a></div>
                                <form (ngSubmit)="onAssignTest(user._id)">
                                    <div class="col s12 m4 l6">
                                        <p>start time</p>
                                        <p> <textarea type="datetime" class="materialize-textarea tsY-date"
                                                      (click)="openPicker($event, 'startTime')"></textarea></p>
                                    </div>
                                    <div class="col s12 m4 l6">
                                        <p>finish time</p>
                                        <p> <textarea type="datetime" class="materialize-textarea tsY-date"
                                                      (click)="openPicker($event, 'finishTime')"></textarea></p>
                                    </div>
                                    <div class="col l6" id="duration1">
                                        <p>duration</p>
                                        <input type="number" required [(ngModel)]="assignTest.duration"
                                               class="tsY-date">
                                    </div>
                                    <button type="submit" class="btn btn-success btn-block ts-buttons2"
                                            name="action">Assign a test
                                    </button>
                                </form>
                            </div>
                            <div class="my-div"></div>
                        </div>

                        <div class="assignTestFromStartPage1">
                            <div class="row">
                                <div class="cross"><a href="#" (click)="showAnimation1($event, 'row')">✖</a></div>
                                <div class="col s12 l6" class="tests-user-info-for-admin">
                                    <h1 class="ts-h1-details">choose the teacher to check:</h1>
                                    <div class="ts-admin-list-tests tsY-sselect-teacher">
                                        <div class="ts-admin-scroll-hidden tsY-scroll-select-user">
                                            <form #form *ngFor="let teacher of teachersList; let i = index" class="boxes">
                                                <div *ngIf="i % 2 == 0"
                                                     class="first-checkbox #eceff1 blue-grey lighten-5">
                                                    <p>
                                                        <input name="group1" type="radio" id={{teacher._id}}
                                                               (click)="form.answer = teacher._id"
                                                               [checked]="form.answer === teacher._id"/>
                                                        <label attr.for="{{teacher._id}}">Teacher {{i + 1}}</label>
                                                    </p>
                                                </div>
                                                <div *ngIf="i % 2 == 1" class="second-checkbox #fafafa grey lighten-5">
                                                    <p>
                                                        <input type="radio" id={{i}}
                                                               (click)="form.answer = teacher._id"
                                                               [checked]="form.answer === teacher._id"/>
                                                        <label attr.for="{{i}}">Teacher {{i + 1}}</label>
                                                    </p>
                                                </div>
                                            </form>
                                        </div>
                                        <button class="waves-effect waves-light btn tsY-user-select-teacher-buttons"
                                                type="submit" id="assign-admin-test"
                                                name="action">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="my-div"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="not-found-statistics" *ngIf="testsList.length == 0">You haven't passed tests</div>

<ts-footer class="modal-footer"></ts-footer>
