<!--<h1>Users</h1>-->
<ts-header></ts-header>

<div class="container">

    <div class="section scrollspy" id="work">
        <div class="ts-container">
            <div class="container" id="ts-content">
                <div class="row ts-filter-panel">
                    <div class="row">
                        <div class="input-field col s12 l8" id="searchUser">
                            <i class="material-icons">search</i>
                            <input [(ngModel)]="searchValue" id="icon_prefix" type="text"
                                   class="validate ts-input-panel">
                            <label for="icon_prefix">search</label>
                        </div>
                        <div class="input-field col s12 l3">
                            <div id="tsY-dropdown">
                                <button class="waves-effect waves-light btn tsY-dropbtn">add guest user</button>
                                <div class="tsY-dropdown-content">
                                    <div class="row ts-add-guest-form">
                                        <form #addGuestForm="ngForm" (ngSubmit)="addGuest(addGuestForm.value)">
                                            <div>
                                                <div class="input-field col s12 form-group">
                                                    <input id="first_name" type="text" required [(ngModel)]="addGuestForm.firstName"
                                                           class="validate form-control" ngControl="firstName">
                                                    <label for="first_name">first name</label>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="input-field col s12 form-group">
                                                    <input id="last_name" type="text" class="validate form-control"
                                                           required [(ngModel)]="addGuestForm.lastName" ngControl="lastName">
                                                    <label for="last_name">last name</label>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="input-field col s12 form-group">
                                                    <input id="email" type="text" class="validate form-control"
                                                           required [(ngModel)]="addGuestForm.mail" ngControl="mail">
                                                    <label for="email">email</label>
                                                </div>
                                            </div>
                                            <button class="waves-effect waves-light btn ts-buttons form-group"
                                                    type="submit" id="assign-admin-test"
                                                    name="action" [disabled]="!addGuestForm.form.valid">
                                                Submit
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Content-->
                <div class="row">
                    <!--| searchByName:searchValue-->
                    <div class="col s12 m6 l3" *ngFor="let user of usersList | searchByName:searchValue">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="{{user.photo}}">
                            </div>
                            <div class="card-content tsY-card-content">
                            <span class="card-title activator grey-text text-darken-4">{{user.firstName}} {{user.lastName}}
                                <!--<i class="material-icons right">more_vert</i>-->
                            </span>
                                <p>{{user.mail}}</p>
                                <p>User</p>
                                <a href="/"><span (click)="gotoDetail(user._id)">Profile</span></a>

                            </div>
                            <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4 tsY-picker-card-title">{{user.firstName}}
                                {{user.lastName}}</span>
                                <!--<i class="material-icons right">more_vert</i>-->
                                <form (ngSubmit)="onAssignTest(user._id)">
                                    <p>Start time</p>
                                    <textarea type="datetime" class="materialize-textarea tsY-date"
                                              (click)="openPicker($event, 'startTime')"></textarea>
                                    <p>Finish time</p>
                                <textarea type="datetime" class="materialize-textarea tsY-date"
                                          (click)="openPicker($event, 'finishTime')"></textarea>
                                    <p>Duration</p>
                                    <input type="number" required [(ngModel)]="assignTest.duration" class="tsY-date">
                                    <button type="submit" class="btn btn-success btn-block ts-buttons"
                                            name="action">Assign a test</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ts-footer></ts-footer>