html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: table;
}

ul li {
    list-style-type: none;
}

.left {
    display: table-cell;
    width: 400px;
    height: 100%;
    margin: 0;
    left: 0;
    background-color: #0000AA;
}

#animation-control {
    position: relative;
    top: 0;
    left: 0;
}

.right {
    display: table-cell;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #00AA00;
    position: absolute;
    left: 0;

    transition: left 3s ease, width 3s ease;
}

.openMenu {
    display: table-cell;
    width: calc(100% - 400px);
    left: 400px;
    transition: left 3s ease, width 3s ease;
}

h1 {
    float: right;
}